* {
  margin: 0;
  padding: 0;
}

/*reset*/
html {
  max-width: 1080px;
  margin: 0 auto;
  scroll-behavior: smooth;
}
body {
  font-size: 62.5%;

  margin: 0 auto;
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
img {
  border: none;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}

:focus {
  outline: none;
}
#root {
  color: #fff;
  font-size: 35px;
}

.sp-uppercase {
  text-transform: uppercase;
}

.sp-relative {
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: auto !important;
  text-size-adjust: auto !important;
  -moz-text-size-adjust: auto !important;
}

.sp-img {
  display: block;
  width: 100%;
}
.sp-flex-x {
  display: flex;
  align-items: center;
}

.flex-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sp-header-top {
  height: 117px;
  width: 100%;
  position: fixed;
  top: 193px;
  z-index: 5;
  max-width: 1080px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sp-header-top .text {
  width: 126px;
  margin-left: 70px;
}
.sp-header-top .btn {
  width: 365px;
  height: 88px;
  background: url("../image/top-btn-bg.png") no-repeat;
  background-size: 100% 100%;
  margin-right: 54px;
  font-family: "Montserrat-SemiBold";
  font-size: 45px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-bottom: 6px;
  box-sizing: border-box;
  animation: skip 3s infinite;
}

.sp-nav-top {
  width: 1080px;
  height: 193px;
  background: url("../image/nav-top.png") no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 0;

  z-index: 9;
}
.sp-nav-top .area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  height: 100%;
  padding-top: 10px;
}
.sp-nav-top .title {
  font-family: "Montserrat-ExtraBold";
  font-size: 65px;
  color: #ffffff;
}
.sp-nav-top .title span {
  color: #ffaf00;
  font-size: 85px;
}
.sp-nav-top .btn {
  width: 392px;
  height: 51px;
  background: #ffffff;
  border-radius: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  font-family: "Montserrat-Bold";
  color: #001d44;
}
.sp-part-top {
  margin-top: 310px;
}
.price-group {
  font-size: 115px;
  font-family: "Roboto-Bold";
  display: flex;
  align-items: baseline;
  font-size: 70px;
  color: #d10207;
}
.price-group .price1 {
  font-size: 102px;
  color: #d10207;
  margin-right: 10px;
}
.price-group .price2 {
  color: #494949;
  font-size: 44px;
  text-decoration: line-through;
}
.btn-style {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-style .icon {
  width: 34px;
  margin-left: 22px;
}
.sp-btn-style1 {
  width: 831px;
  height: 166px;
  background: url("../image/btn-bg.png") no-repeat;
  background-size: 100% 100%;
  font-family: "Montserrat-ExtraBold";
  font-size: 75px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  gap: 65px;
  padding-bottom: 20px;
  box-sizing: border-box;
  /* animation: skip 4s infinite; */
}
.sp-btn-style1 .icon {
  width: 110px;
  height: 110px;
  background: #ffffff;
  border-radius: 50%;
  font-size: 68px;
  color: #ff7d00;
  font-family: "Roboto-BlackItalic";
  overflow: hidden;
}
.sp-btn-style1 .icon img {
  width: 55px;
}
.sp-btn-style1 .swiper {
  width: 110px;
  height: 110px;
}
.sp-btn-style1 .swiper-slide {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sp-btn-style1 p {
  animation: skip 4s infinite;
}
.sp-part1 .title {
  position: absolute;
  top: 80px;
  left: 50px;
  width: 974px;
}
.sp-part1 .circle {
  width: 320px;
  height: 310px;
  background: url("../image/img1-btn.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
  position: absolute;
  right: 47px;
  bottom: 37px;
  font-size: 84px;
  color: #ffffff;
  font-family: "Montserrat-SemiBold";
  text-align: center;
  line-height: 1.05;
  overflow: hidden;
}
.sp-part1 .circle .swiper,
.sp-part1 .circle .swiper-slide {
  height: 310px;
}
.sp-part1 .circle .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sp-part1 .circle .s2 {
  font-size: 110px;
}
.sp-part1 .circle .s2 span {
  font-size: 70px;
}
.sp-part1 .price-group {
  position: absolute;
  bottom: 20px;
  left: 48px;
}

.sp-part1 .price1 {
  font-size: 66px;
  color: #fff;
  font-family: "Montserrat-SemiBold";
}
.sp-part1 .price1 span {
  font-size: 136px;
  margin-left: 8px;
  margin-right: 15px;
}

.sp-part1 .price2 {
  font-size: 35px;
  color: #e0e0e0;
  opacity: 0.74;
  font-family: "Montserrat-SemiBold";
}

.sp-title {
  font-family: "Montserrat-ExtraBold";
  font-size: 75px;
  text-align: center;
  font-weight: bold;
  color: #1b1b1b;
  text-transform: uppercase;
  line-height: 1.1;
}
.sp-title span {
  color: #fc0203;
}
.sp-lines {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 35px 0 45px;
}
.sp-lines .circle {
  width: 11px;
  height: 11px;
  background: #fc0203;
  border-radius: 50%;
}
.sp-lines .line {
  width: 71px;
  height: 11px;
  background: #fc0203;
  border-radius: 6px;
}
.sp-bg {
  background-color: #ccdcfa;
}
.sp-text {
  font-family: "Roboto-Medium";
  text-align: center;
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50px;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.sp-part2 {
  padding: 45px 42px 0px;
}
.sp-part2 .title {
  white-space: nowrap;
  font-family: "Montserrat-SemiBold";
  font-size: 50px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}
.sp-part2 .title.t1 {
  width: 460px;
  top: 120px;
  left: 0;
  font-family: "Montserrat-Bold";
  color: #2d2d2d;
}
.sp-part2 .title.t2 {
  width: 535px;
  top: 35px;
  color: #fff;
  font-size: 73px;
  right: 0;
}

.sp-part2 .text-group {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.sp-part2 .text-group > div {
  /* flex: 1; */
  font-family: Roboto;
  font-size: 28px;
  color: #4a4a4a;
  width: 460px;
  padding-left: 40px;
  padding-right: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 545px;
  left: 0;
}

.sp-part2 .text-group p {
  display: flex;
  gap: 10px;
  margin-bottom: 45px;
}
.sp-part2 .text-group p img {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  opacity: 1;
}
.sp-part2 .text-group .gray {
  width: 535px;
  left: 455px;
  padding-right: 20px;
}
.sp-part2 .text-group .gray p {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 50px;
  font-family: "Roboto-Medium";
}
.sp-part2 .text-group .gray p img {
  width: 47px;
  height: 45px;
}
.sp-part3 {
  padding: 55px 32px 0 39px;
}

.sp-part3 .sub-title {
  font-size: 40px;
  font-family: "Roboto-Medium";
  color: #4a4a4a;
  text-align: center;
  margin: 30px 0 40px;
}
.sp-part3 .img-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 17px;
  font-family: "Roboto-Medium";
  font-size: 35px;
  color: #4a4a4a;
}
.sp-part3 .img-wrap > div {
  flex: 1;
  position: relative;
}
.sp-part3 .img-wrap p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
}
.sp-part4 {
  padding: 55px 38px 0px;
}
.sp-part4 .img-wrap {
  width: 100%;
  display: flex;
  gap: 50px 60px;
  flex-wrap: wrap;
  justify-content: center;
}
.sp-part4 .img-wrap > div {
  /* flex: 1; */
  width: 472px;
  position: relative;
}
.sp-part4 .img-wrap > div p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 58px;
  line-height: 58px;
  font-family: "Roboto-Medium";
  font-size: 28px;
  color: #fff;
}
.sp-part4 .btn-style {
  margin-top: 70px;
  margin-bottom: 50px;
}
.sp-part5 p {
  position: absolute;
  top: 60px;
  left: 480px;
  width: 560px;
  font-size: 40px;
  color: #ffffff;
  font-family: "Roboto-Medium";
}
.sp-part5 #nav0 {
  width: 100%;
}
.sp-part5 .nav-imgs > img {
  width: 360px;
}
.sp-part6 {
  padding-top: 55px;
}

.sp-part6 .title {
  position: absolute;
  top: 60px;
  text-align: center;
  max-width: 850px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-stroke: 4px #242424;
  -webkit-text-stroke: 4px #242424;
  font-family: "Roboto-Medium";
}
.sp-stroke {
  position: relative;
}
.sp-part6 .sp-stroke::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  -webkit-text-stroke: 0;
}
.sp-part6 .area {
  position: absolute;
  top: 710px;
  left: 50px;

  width: 350px;
  font-size: 30px;
  font-family: "Roboto-Medium";
  color: #1b1b1b;
  display: flex;
  flex-direction: column;
  gap: 210px;
  text-align: center;
  line-height: 1;
}
.sp-part7 {
  padding: 55px 69px 0 61px;
}
.sp-part7 .sp-title {
  margin-bottom: 30px;
}
.sp-part7 .swiper-slide {
  position: relative;
}
.sp-part7 .title {
  position: absolute;
  top: 50px;
  font-family: "Roboto-Medium";
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  max-width: 820px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.sp-part7 .s2 .title {
  text-align: right;
  transform: unset;
  left: unset;
  right: 40px;
  max-width: 600px;
}
.sp-part7 .s2 .sp-stroke {
  text-stroke: 4px #000000;
  -webkit-text-stroke: 4px #000000;
  position: relative;
}
.sp-part7 .s2 .sp-stroke::after {
  content: attr(data-title);
  text-stroke: 0px;
  -webkit-text-stroke: 0px;
  position: absolute;
  top: 0;
  right: 0;
}
.sp-part7 .s3 .title {
  text-align: left;
  transform: unset;
  left: 42px;
  max-width: 650px;
}
.sp-part7 .swiper {
  padding-bottom: 80px;
  margin-bottom: 50px;
}
.sp-part7 .swiper-pagination-bullet {
  width: 197px;
  height: 15px;
  background: #cfcfcf;
  border-radius: 8px;
  opacity: 1;
  margin: 0 17px !important;
}
.sp-part7 .swiper-pagination-bullet-active {
  background: #ffaf00;
}
.sp-part8 {
  padding-top: 69px;
}

.sp-part8 p {
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  top: 55px;
  text-align: center;
  font-family: "Roboto-Medium";
  max-width: 920px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.sp-part8 .title2 {
  font-size: 60px;
  font-family: "Roboto-Bold";
  margin: 50px auto 35px;
  color: #1b1b1b;
}
.sp-part8 .img-s {
  margin-left: 48px;
  margin-top: 36px;
  width: 586px;
}
.sp-part8 .img-p {
  width: 339px;
  position: absolute;
  top: 370px;
  right: 42px;
  z-index: 2;
}
.sp-part8 .tip {
  width: 407px;
  height: 64px;
  background: #ea0000;
  border-radius: 30px;
  font-size: 33px;
  font-family: "Roboto-Medium";
  color: #ffffff;
  position: absolute;
  top: 30px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sp-part9 {
  padding: 65px 40px 0;
}

.sp-part9 .swiper {
  width: 502px;
  font-family: "Roboto-Medium";
  color: #161616;
  font-size: 30px;
  padding-top: 60px;
  padding: 60px;
  margin-bottom: 30px;
}
.sp-part9 .swiper-slide {
  position: relative;
}
.sp-part9 .tip {
  position: absolute;
}
.sp-part9 .t1 {
  top: -37px;
  text-align: center;
  width: 100%;
}
.sp-part9 .t2 {
  top: 107px;
  right: -125px;
  transform: rotate(-90deg);
}
.sp-part9 .t3 {
  bottom: -45px;
  width: 100%;
  text-align: center;
}
.sp-part9 .t4 {
  top: 267px;

  left: -125px;
  text-align: center;
  transform: rotate(-90deg);
}
.sp-part9 .slide2 .t2 {
  top: 287px;
  right: -125px;
  transform: rotate(-90deg);
}
.sp-part9 .slide3 .t1 {
  top: 142px;
  right: -275px;
  transform: rotate(-90deg);
}
.sp-part9 .slide3 .t2 {
  top: 353px;
  right: -35px;
  transform: rotate(-90deg);
}
.sp-part9 .slide3 .t3 {
  bottom: -50px;
  left: 170px;
  text-align: left;
}
.sp-part9 .slide3 .t4 {
  top: 209px;
  left: -125px;
  text-align: center;
  transform: rotate(-90deg);
}
.sp-part9 .slide4 .t2 {
  top: 120px;
}
.sp-part9 .row1 {
  text-align: center;
  font-size: 50px;
  color: #000000;
  font-family: "Roboto-Bold";
  margin: 25px auto;
}
.sp-part9 .row2 {
  text-align: center;
  font-family: "Roboto-Medium";
  color: #ea0000;
  font-size: 38px;
  margin-bottom: 50px;
}
.sp-part9 .swiper-btn {
  width: 52px;
  height: 52px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  cursor: pointer;
  z-index: 2;
  box-sizing: border-box;
}
.sp-part9 .swiper-btn img {
  width: 21px;
  height: 34px;
}
.sp-part9 .swiper-btn-prev {
  left: 40px;
  padding-right: 3px;
}
.sp-part9 .swiper-btn-next {
  padding-left: 3px;
  right: 30px;
}
.sp-size {
  width: 100%;
  height: 343px;
  margin-left: -2px;
  background-image: url("../image/discount-bg.png");
  background-size: 100% 100%;
  font-family: "Roboto-Medium";
  color: #101010;
  font-size: 38px;
  display: flex;
  text-align: center;
  line-height: 86px;
}
.sp-size .title {
  /* font-family: "Roboto-Bold"; */
}
.sp-size .col {
  flex: 1;
}
.sp-size .col:last-child p:not(.title) {
  color: #ff001d;
}

.product-part {
  padding: 80px 40px;
  background: #002c6a;
  font-family: "Roboto-Medium";
  box-sizing: border-box;
  position: relative;
}
.product-box {
  width: 100%;
  height: 480px;
  background: #fefefe;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
}

.product-part .img-wrap {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  width: fit-content;
}
.product-part .p-img {
  max-height: 100%;
  display: block;
}
.product-part .free {
  width: 162px;
  height: 162px;
  background: url("../image/free.png") no-repeat;
  background-size: 100% 100%;
  font-size: 30px;
  color: #ffffff;
  font-family: "Roboto-Bold";
  display: flex;
  align-items: center;
  position: absolute;
  top: -54px;
  left: -24px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}
.product-part .box {
  width: 424px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.product-part .title {
  color: #191919;
  font-family: "Roboto-Bold";
  font-size: 56px;
  white-space: nowrap;
  margin-bottom: 16px;
}

.product-part .price-group {
  line-height: 1;
  justify-content: center;
  margin-bottom: 20px;
}
.product-part .price1 {
  font-family: "Roboto-Bold";
  font-size: 56px;
  color: #df0f0f;
}

.product-part .price2 {
  font-family: "Roboto-Bold";
  font-size: 40px;
  color: #999999;
}

.product-part .sp-btn-style {
  width: 100%;
  height: 112px;
  background: url("../image/btn-bg-bottom.png") no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 46px;
  font-family: "Montserrat-ExtraBold";
  cursor: pointer;
  margin-top: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: skip 4s infinite;
}

@keyframes skip {
  0%,
  10%,
  16%,
  27%,
  100% {
    transform: scale(1);
  }
  5%,
  13%,
  21% {
    transform: scale(0.8);
  }
}

.addGroup {
  width: 306px;
  height: 90px;
  background: url("../image/input-bg.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 53px;
  padding: 0px 40px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto-Bold";
}

.addGroup .reduce,
.addGroup .add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;

  cursor: pointer;
  flex-shrink: 0;
}

.addGroup input {
  outline: 0;
  border: none;
  text-align: center;
  box-sizing: border-box;
  width: 126px;
  height: auto;
  color: #232326;
  background: #fff;
  /* vertical-align: middle; */
  padding: 0;
  font-family: "Roboto-Bold";
  font-size: 40px;

  line-height: 40px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.sp-nav2 {
  font-family: "Roboto-Medium";
  font-size: 55px;
  color: #fff;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  margin: 40px auto 50px;
}
.sp-nav2 img {
  width: 136px;
}

.sp-footer {
  background-color: #fff;
  padding: 2px 160px 2px;
  border-radius: 15px;
}

.remark {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 38px 0px 38px 72px;
  gap: 48px 0;
  box-sizing: border-box;
  margin-top: -2px;
  position: relative;
  z-index: 2;
}
.icon-text {
  font-size: 38px;
  font-family: "Roboto";
  white-space: nowrap;
  color: #fff;
  text-align: center;
}

.remark .icon {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 27px;
  flex-shrink: 0;
}

.remark .sp-flex-x:nth-child(n) {
  width: 49%;
}
.remark .sp-flex-x:nth-child(2n) {
  width: 50%;
}
.remark .sp-flex-x:nth-child(1) .icon {
  background-image: url("../image/icon1.png");
}
.remark .sp-flex-x:nth-child(2) .icon {
  background-image: url("../image/icon2.png");
}
.remark .sp-flex-x:nth-child(3) .icon {
  background-image: url("../image/icon3.png");
}

.remark .sp-flex-x:nth-child(4) .icon {
  background-image: url("../image/icon4.png");
}

.sp-nav {
  width: 100%;
  height: 272px;
  background: url("../image/nav-bg.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.sp-nav .word {
  position: absolute;
  top: 25px;
  left: 290px;
  width: 500px;
}
.sp-nav .btn {
  position: absolute;
  top: 180px;
  left: 334px;
  width: 411px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Bold";
  font-size: 28px;
  color: #ef0000;
  background: url("../image/nav-btn.png") no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
