* {
  margin: 0;
  padding: 0;
}

/*reset*/
html {
  max-width: 1080px;
  margin: 0 auto;
  /* scroll-behavior: smooth; */
}
body {
  font-size: 62.5%;

  margin: 0 auto;
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
img {
  border: none;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}

:focus {
  outline: none;
}
#root {
  color: #fff;
  font-size: 35px;
}

.sp-uppercase {
  text-transform: uppercase;
}

.sp-relative {
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: auto !important;
  text-size-adjust: auto !important;
  -moz-text-size-adjust: auto !important;
}

.sp-img {
  display: block;
  width: 100%;
}
.sp-flex-x {
  display: flex;
  align-items: center;
}

.flex-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sp-nav {
  width: 1080px;
  height: 100px;
  background: #000000;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  font-family: "Roboto-Medium";
  font-size: 40px;
  z-index: 9;
}
.sp-nav span {
  color: rgba(255, 225, 25, 1);
}
.sp-header-top {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 100px;
  z-index: 9;
  max-width: 1080px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sp-header-top .text {
  width: 146px;
  margin-left: 46px;
}
.sp-header-top .btn {
  width: 330px;
  height: 80px;
  background: linear-gradient(0deg, #d35416 0%, #ffb638 100%);
  box-shadow: 0px 10px 20px 0px rgba(193, 159, 118, 0.4);
  border-radius: 80px;
  margin-right: 27px;
  font-family: "Roboto-Bold";
  font-size: 36px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sp-header-top .btn p {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: skip 4s infinite;
}

.sp-part-top {
  margin-top: 220px;
}

.price-group {
  display: flex;
  align-items: baseline;
}

.price-group .price2 {
  text-decoration: line-through;
}

.sp-stroke {
  position: relative;
}
.sp-stroke::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: 0;
  text-stroke: 0;
  -webkit-text-stroke: 0;
}
.sp-part1 {
  overflow: hidden;
}
.sp-part1 .title {
  position: absolute;
  top: 60px;
  width: 1000px;
  height: 132px;
  left: 48px;
  display: block;
}

.sp-part1 .area {
  position: absolute;
  left: 50px;
  top: 220px;
}
.sp-part1 .area .sub-title {
  font-family: "Roboto-Medium";
  font-size: 50px;
  line-height: 1.3;
}
.sp-part1 .circle {
  animation: float1 4s infinite ease-in-out;
}
@keyframes float1 {
  0%,
  100% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(30%);
  }
}
.sp-part1 .img1 {
  width: 146px;
  display: block;
  position: absolute;
  left: 298px;
  top: 850px;
}
.sp-part1 .img2 {
  width: 98px;
  display: block;
  position: absolute;
  left: 408px;
  top: 1306px;
  animation-duration: 3s;
}
.sp-part1 .img3 {
  width: 100px;
  display: block;
  position: absolute;
  right: 26px;
  top: 1076px;
  animation-duration: 3s;
  animation-delay: -1s;
}
.sp-part1 .btn-style {
  width: 500px;
  height: 120px;
  background: rgba(0, 0, 0, 0);
  border: 4px solid #ffffff;
  border-radius: 80px;
  font-family: "Roboto";
  font-size: 54px;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}
.btn-style {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-style1 {
  width: 840px;
  height: 140px;
  border-radius: 80px;
  background: linear-gradient(0deg, #d35416 0%, #ffb638 100%);
  box-shadow: 0px 10px 20px 0px rgba(193, 159, 118, 0.4);
  font-family: "Roboto-Bold";
  font-size: 63px;
  color: #ffffff;
  margin: auto;
}
.sp-bg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.sp-part2 {
  padding: 90px 87px 90px 0px;
  box-sizing: border-box;
  font-family: Roboto;
  color: #191919;
  position: relative;
}
.sp-part2 .title {
  font-size: 84px;
  padding-left: 37px;
}
.sp-part2 .title p {
  font-family: "Roboto-Bold";
}
.sp-part2 .row {
  display: flex;
  gap: 80px;
  align-items: flex-end;
  margin-bottom: 50px;
}
.sp-part2 .row .icon {
  padding-bottom: 20px;
}
.sp-part2 .img-group {
  width: 960px;
}
.sp-part2 .text-group {
  width: 100%;
  height: 86px;
  background-color: rgba(45, 29, 22, 1);
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-family: Roboto;
  font-size: 36px;
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 2;
}
.sp-part2 .text-group > p {
  flex: 1;
}
.sp-part2 .img {
  width: 149px;
  margin-bottom: 5px;
}
.sp-part2 .box {
  width: 572px;
  height: 240px;
  background: #aa845d;
  margin-left: 420px;
  margin-top: -200px;
}
.sp-part3 .sp-title {
  width: 100%;
  font-weight: 400;
  line-height: 1;

  color: #191919;
  font-size: 70px;
  font-family: Roboto;
  text-align: center;
}
.sp-part3 .sub-title {
  margin-top: 20px;
  font-family: Roboto;
  text-align: center;
  color: #191919;
  width: 100%;
  margin-bottom: 40px;
}

.sp-part3 .box {
  padding: 30px 19px 75px;
  position: relative;
  z-index: 2;
  display: flex;
  gap: 70px;
}
.sp-part3 .box > div {
  flex: 1;
  font-size: 42px;
  color: #1d1d1d;
  font-family: "Roboto-Light";
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.sp-part3 .box > div .icon {
  padding-top: 10px;
}
.sp-part4 {
  padding-top: 60px;
}
.sp-part4 .sp-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 70px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  padding-top: 50px;
}
.sp-part4 .sub-title {
  font-family: Roboto;
  font-size: 40px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.sp-part4 .area {
  width: 1080px;
  height: 631px;
  background: #3a220c;
  margin-bottom: 250px;
}
.sp-part4 .row {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-top: 40px;
}
.sp-part4 .row img {
  width: 444px;
  border-radius: 20px;
}
.sp-part5 {
  padding: 0px 36px 100px 50px;
  color: #060203;
  font-family: Roboto;
  font-size: 46px;
}
.sp-part5 .btn-style {
}
.sp-part5 .sp-title {
  margin-bottom: 30px;
  font-size: 93px;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  position: relative;
  line-height: 1;
  width: fit-content;
  margin: auto;
  z-index: 1;
}
.sp-part5 .sp-title .icon {
  width: 89px;
  position: absolute;
  top: 9px;
  left: -32px;
  z-index: -1;
}
.sp-part5 .sub-title {
  margin-bottom: 40px;
  margin-top: 30px;
}
.sp-part5 .gif {
  width: 765px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.sp-part5 .box {
  width: 100%;
  background: #ebe6d7;
  color: #333333;
  padding: 15px 30px;
  box-sizing: border-box;
  border-radius: 20px;
  line-height: 1.4;
  margin-bottom: 70px;
  text-align: center;
}
.sp-part6 {
  width: 1008px;
  height: 1458px;
  background: #a37d52;
  margin-left: auto;
  font-family: Roboto;
  color: #ffffff;
  padding-left: 100px;
  padding-top: 50px;
  box-sizing: border-box;
  margin-bottom: 80px;
}
.sp-part6 .sp-title {
  font-size: 56px;
  font-weight: 400;
}

.sp-part6 .sub-title {
  font-size: 40px;
  font-family: "Roboto-Light";
  font-weight: 300;
  margin-top: 20px;
  padding-right: 80px;
  margin-bottom: 40px;
}
.sp-part6 .flex-bet {
  margin-left: -180px;
}
.sp-part6 .tip {
  position: absolute;
  font-size: 39px;
  font-family: "Roboto-Bold";
  color: #46311a;
  left: 316px;
  top: 150px;
}
.sp-part6 .box {
  width: 390px;
  height: 95px;
  background: #845d31;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 400;
  color: #fefefe;
}
.sp-part6 .box.b1 {
  position: absolute;
  left: 316px;
  top: 208px;
}
.sp-part6 .box.b2 {
  position: absolute;
  left: 85px;
  top: 688px;
}

.sp-part7 {
  margin-top: 80px;
  font-family: Roboto;
}
.sp-part7 .sp-title {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 70px;
}
.sp-part7 .area {
  position: absolute;
  top: 358px;
  left: 0;
  font-size: 50px;
  font-weight: 400;
  font-family: Roboto;
  color: #573f2a;
}
.sp-part7 .area p {
  max-width: 400px;
}
.sp-part7 .num-wrap {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-left: 21px;
  margin-bottom: 49px;
}
.sp-part7 .num-wrap.hou {
  gap: 30px;
  padding-left: 110px;
}
.sp-part8 {
  padding: 30px 24px 39px 17px;
  box-sizing: border-box;
  background: #624215;
  font-family: Roboto;
}
.sp-part8 .sp-title {
  margin-bottom: 20px;
  padding-left: 9px;
  font-size: 56px;
}
.sp-part8 .sub-title {
  margin-bottom: 20px;
  font-size: 46px;
  font-weight: 400;
  padding-left: 9px;
}
.sp-part9 {
  font-family: Roboto;
  color: #191919;
  padding: 40px 20px 60px;
}
.sp-part9 .sp-title {
  margin-bottom: 0px;
  font-size: 70px;
  width: 100%;
  text-align: center;
}
.sp-part9 .sub-title {
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 400;
  width: 100%;
  text-align: center;
}
.sp-part9 .img-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 30px;
  color: #191919;
  font-family: Roboto;
}
.sp-part9 .img-group > div {
  flex: 1;
}
.sp-part9 .img-group p {
  margin-top: 15px;
  line-height: 1.3;
}
.product-part {
  padding: 50px 0px 0px 0px;

  background: linear-gradient(-45deg, #7c5f43 0%, #a37d52 100%);
  font-family: "Roboto-Medium";
  box-sizing: border-box;
  overflow: hidden;
}
.product-part .sp-title {
  font-size: 73px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.product-part .sub-title {
  font-size: 40px;
  color: #ffffff;
  font-family: Roboto;
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}
.product-box {
  width: 100%;
  height: 490px;
  box-sizing: border-box;
  margin-bottom: 35px;
  position: relative;
  display: flex;
  margin-left: 30px;
  z-index: 2;
}
.product-box::after {
  content: "";
  width: 100%;
  height: 490px;
  background: #fefefe;
  transform: rotate(-6.5deg);
  border-radius: 300px 0 0 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: -1;
}
.product-box .img-wrap {
  width: 540px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.product-box .p-img {
  height: 414px;
}
.product-part .area {
  width: 420px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-part .title {
  font-family: "Roboto-Bold";
  text-align: center;
  color: #191919;
  font-size: 56px;
  line-height: 1;
  text-wrap: nowrap;
}

.product-part .hot1 {
  background: url("../image/popular.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -56px;
  right: 70px;
  width: 178px;
  height: 114px;
  box-sizing: border-box;
}
.product-part .hot2 {
  background: url("../image/best.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -56px;
  right: 70px;
  width: 178px;
  height: 114px;
  box-sizing: border-box;
}

.product-part .price-group {
  line-height: 1;
  margin-top: 25px;
  gap: 20px;
  margin-bottom: 30px;
}
.product-part .price1 {
  font-family: "Roboto-Black";
  font-size: 56px;
  color: #e12323;
}

.product-part .price2 {
  font-family: "Roboto-Medium";
  font-size: 40px;
  color: #999999;
}
.product-part .price3 {
  font-family: "Roboto-Medium";
  color: #191919;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 20px;
}
.product-part .price3 span {
  color: rgba(225, 35, 35, 1);
}
.product-part .sp-btn-style {
  width: 420px;
  height: 108px;
  background: #191919;
  border-radius: 80px;
  color: #fff;
  font-size: 46px;
  font-family: "Roboto-Bold";
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
@keyframes skip {
  0%,
  10%,
  16%,
  27%,
  100% {
    transform: scale(1);
  }
  5%,
  13%,
  21% {
    transform: scale(0.8);
  }
}
.sp-footer {
  padding: 50px 33px 55px 48px;
}

.remark {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 0px 78px 30px;
  gap: 48px 0;
  box-sizing: border-box;
}
.icon-text {
  font-size: 40px;
  font-family: "Roboto";
  white-space: nowrap;
  color: #fff;
  text-align: center;
}
.remark .icon {
  width: 50px;
  height: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 30px;
  flex-shrink: 0;
}

.remark .sp-flex-x:nth-child(n) {
  width: 49%;
}
.remark .sp-flex-x:nth-child(2n) {
  width: 44%;
}
.remark .sp-flex-x:nth-child(1) .icon {
  background-image: url("../image/icon1.png");
}
.remark .sp-flex-x:nth-child(2) .icon {
  background-image: url("../image/icon2.png");
}
.remark .sp-flex-x:nth-child(3) .icon {
  background-image: url("../image/icon3.png");
}

.remark .sp-flex-x:nth-child(4) .icon {
  background-image: url("../image/icon4.png");
}
.sp-footer2 {
  padding: 40px 30px 60px;
}
