@font-face {
  /* 重命名字体名 */
  font-family: "Roboto";
  /* 引入字体 */
  src: url("./Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "Roboto-Bold";
  /* 引入字体 */
  src: url("./Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "Roboto-Medium";
  /* 引入字体 */
  src: url("./Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "Montserrat-Bold";
  /* 引入字体 */
  src: url("./Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "Montserrat-Medium";
  /* 引入字体 */
  src: url("./Montserrat-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "Montserrat-SemiBold";

  /* 引入字体 */
  src: url("./MontserratSemiBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "Montserrat-Regular";
  /* 引入字体 */
  src: url("./Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "BritishQuest";
  /* 引入字体 */
  src: url("./British\ Quest.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "Impact";
  /* 引入字体 */
  src: url("./impact.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "Roboto-Light";
  /* 引入字体 */
  src: url("./Roboto-Light_0.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "AkzidenzGroteskBQ-Bold";
  /* 引入字体 */
  src: url("./AKZIDENZGROTESK-BOLD.OTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "AkzidenzGroteskBQ-Medium";
  /* 引入字体 */
  src: url("./AKZIDENZGROTESK-MEDIUM.OTF");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "OpenSans-Extrabold";
  /* 引入字体 */
  src: url("./OpenSans-ExtraBold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "BauerBodoniBT-Roman";
  /* 引入字体 */
  src: url("./BauerBodni\ BT.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "OpenSans-Semibold";
  /* 引入字体 */
  src: url("./OpenSans-Semibold.ttf");
  font-weight: normal;
  font-style: normal;
}
