* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
}

/*reset*/
html {
  max-width: 1080px;
  margin: 0 auto;
}
body {
  font-size: 62.5%;

  margin: 0 auto;
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
img {
  border: none;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}

:focus {
  outline: none;
}
#root {
  color: #fff;
  font-size: 35px;
}
.p-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sp-uppercase {
  text-transform: uppercase;
}

.sp-relative {
  position: relative;
}
.black-bg {
  background-color: #000;
  color: #fff;
}
.yellow {
  color: rgba(253, 236, 6, 1);
}
.limit-width {
  width: calc(100% - 130px);
  margin-left: auto;
  margin-right: auto;
}
html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: auto !important;
  text-size-adjust: auto !important;
  -moz-text-size-adjust: auto !important;
}

.sp-img {
  display: block;
  width: 100%;
}

.flex-x {
  display: flex;
}
.flex-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top {
  height: 150px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  max-width: 1080px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top .text {
  width: 185px;
  margin-left: 100px;
}
.header-top .btn {
  width: 432px;
  height: 111px;
  margin-right: 60px;
  border-radius: 20px;
  font-family: "Montserrat-Bold";
  background-color: rgba(255, 138, 0, 1);
  font-size: 37px;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-top .btn .icon {
  width: 19px;
  margin-left: 25px;
}

.sp-part-top {
  margin-top: 150px;
}

.stroke div::before {
  content: attr(data-title);
  position: absolute;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0;
  z-index: 3;
  display: block;
  width: 100%;
  width: -webkit-fill-available;
}
.stroke div {
  position: relative;
  display: block;
  z-index: 1;
}

.price-group {
  font-size: 115px;
  font-family: "Roboto-Bold";
  display: flex;
  align-items: baseline;
  font-size: 57px;
  color: #d10207;
}
.price-group .price1 {
  font-size: 95px;
  color: #d10207;
  margin-right: 10px;
}
.price-group .price2 {
  color: #494949;
  font-size: 35px;
  text-decoration: line-through;
}
.swiper-info {
  width: 100%;
  height: 344px;
  background: #314b99;
  font-size: 40px;
  padding: 0px 60px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.swiper-info p {
  font-size: 54px;
  font-family: "Montserrat-SemiBold";
  color: #fdec06;
}
.swiper-info .price1 {
  font-size: 135px;
  color: #ffffff;
}
.swiper-info .price1 span {
  font-size: 66px;
}
.swiper-info .price2 {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.6);
}
.swiper-info .line {
  width: 5px;
  height: 178px;
  background: #ffffff;
  margin-left: 70px;
}

#swiper3 {
  line-height: 0.95;
  font-family: "Montserrat-SemiBold";
  text-align: center;
  font-size: 84px;
}
#swiper3 span {
  font-size: 86px;
}
#swiper3 .icon {
  width: 34px;
  margin: 0 auto;
  display: block;
}
#swiper3 .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-style {
  font-family: "Montserrat-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-style .icon {
  width: 16px;
  margin-left: 17px;
}
.black-btn {
  width: 540px;
  height: 110px;
  background: #1c1c1c;
  border-radius: 50px;
  font-size: 50px;
  color: #fff;
}
.nav2 {
  width: 100%;
  height: 98px;
  background: #cc0000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBold";
  font-size: 46px;
  color: #ffffff;
  gap: 0 30px;
  flex-shrink: 0;
  line-height: 1;
}

.sp-part1 .swiper {
  position: absolute;
  bottom: 50px;
  right: 78px;
  width: 271px;
  background: #cc0000;
  border-radius: 50%;
  height: 271px;
}

.sp-part1 .bg-img {
  position: absolute;
  font-family: "Montserrat-SemiBold";
  top: 0;

  font-size: 47px;
}
.sp-part1 p {
  position: absolute;
  top: 60px;
  line-height: 1;
  width: 100%;
  text-align: center;
}

.sp-part2 .title {
  font-size: 90px;
  font-family: "Montserrat-Bold";
  color: #ffffff;
  position: absolute;
  top: 40px;
  right: 64px;
}
.sp-part3 {
  margin-top: -5px;
}
.sp-part3 .sp-title {
  position: absolute;
  top: 70px;
  text-align: center;
  font-size: 88px;
  font-family: "Montserrat-Bold";
  color: #e90b0b;
  width: 100%;
}
.sp-part3 .text {
  font-size: 28px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: "Roboto-Bold";
  top: 300px;
  max-width: 1000px;
}
.sp-part4 {
  padding: 0 14px;
}
.sp-part4 .img-wrap {
  padding: 87px 50px 80px;
}
.sp-part4 .text {
  font-size: 28px;
  color: #000;
  font-family: "Roboto-Medium";
  margin-left: 40px;
}
.sp-part4 .img-group {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
.sp-part4 .img-group .img-box {
  display: flex;
  align-items: end;
  height: 500px;
  justify-content: center;
  position: relative;
}
.sp-part4 .img-group .tip {
  position: absolute;
  top: 300px;
  right: 60px;
  font-size: 35px;
  color: #000000;
  font-family: "Roboto-Medium";
}
.sp-part4 .img-group .t2 {
  top: 310px;
  right: 33px;
}
.sp-part4 .red {
  font-size: 40px;
  font-family: "Roboto-Medium";
  color: #ef2024;
  padding-left: 20px;
  margin-top: 55px;
  max-width: 90%;
}
.sp-part4 .texts {
  font-size: 26px;
  font-family: "Roboto-Medium";
  color: #222222;
  padding-left: 20px;
  max-width: 90%;
  opacity: 0.6;
}
.sp-part4 .img-group > div {
  width: 50%;
}
.sp-part4 .black-btn {
  width: 100%;
  height: 66px;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 0;
  font-family: "Roboto-Bold";
  font-size: 40px;
  margin-top: 50px;
}
.sp-part5 .large {
  font-family: "Roboto-Medium";
  font-size: 52px;
}

.sp-part5 .img-box {
  position: absolute;
  left: 690px;
  top: 280px;
  display: flex;
  font-family: "Roboto-Medium";
  flex-direction: column;
  gap: 50px 0px;
  color: #fff;
  font-size: 24px;
  line-height: 1;
}

.sp-part6 {
  background: #000000;
  padding: 348px 60px 60px;
  font-family: "Roboto-Medium";
  text-align: center;
}

.sp-part6 .sp-title {
  position: absolute;
  font-family: "Roboto-Bold";
  top: 70px;
  font-size: 70px;
}
.sp-part6 .sub-title {
  max-width: 910px;
  position: absolute;
  top: 160px;
  font-size: 30px;
  opacity: 0.6;
}
.sp-part6 .btn-group {
  display: flex;
  gap: 0 34px;
  justify-content: center;
  margin-top: 32px;
}
.sp-part6 .btn-group > div {
  width: 425px;
  height: 140px;
  background: #575757;
  border-radius: 24px;
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sp-part6 .btn-group > div.active {
  background-color: #d40a07;
  opacity: 1;
}
.sp-part7 {
  line-height: 1;
}
.sp-part7 .sp-title {
  text-align: center;
  color: #1f1f1f;
  font-size: 80px;
  font-family: "Roboto-Bold";
  max-width: 830px;
  margin: 60px auto 30px;
}
.sp-part7 .sub-title {
  text-align: center;
  color: #1f1f1f;
  font-size: 35px;
  font-family: "Roboto-Medium";
  max-width: 900px;
  opacity: 0.6;
  margin: auto;
}
.sp-part7 .img1 {
  margin-top: -60px;
  width: 90%;
}
.sp-part7 .arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 490px;
  margin-top: -20px;
}
.sp-part7 .black-text {
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;

  font-family: "Roboto-Bold";
  font-size: 46px;
  padding: 0 30px;
  width: 100%;
  box-sizing: border-box;
  width: 522px;

  height: 157px;
}
.sp-part7 .title {
  text-align: center;
  font-family: "Roboto-Bold";
  width: 100%;
  color: #000000;
  font-size: 90px;
  margin-top: 60px;
}
.sp-part7 .text {
  text-align: center;
  width: 100%;
  max-width: 920px;
  margin-bottom: 80px;
  font-size: 34px;
  font-family: "Roboto-Medium";
  color: #000000;
  margin: 20px auto;

  opacity: 0.6;
}
.sp-part7 .black-box {
  width: 100%;
  height: 219px;
  background: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 50px;
  box-sizing: border-box;
  font-family: "Roboto-Bold";
  font-size: 39px;
  line-height: 1.2;
}
.nav {
  width: 100%;
  height: 90px;
  color: #fff;
  font-size: 39px;
  font-family: "Roboto-Medium";
  background-color: rgba(36, 69, 119, 1);
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}
.nav-group {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  height: 100%;
  width: fit-content;

  text-align: center;

  margin-left: 94px;
  /* transition: all 8s linear; */
}

.nav .icon {
  margin-right: 29px;
  width: 31px;
  height: 35px;
  background-size: 100% 100%;
  background-image: url("../image/fire.png");
}
.product-part {
  padding: 0px 0px 80px;
  font-family: "Roboto-Medium";
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 0 11px;
  background: #000000;
}
.product-box {
  width: 516px;
  background-color: #fff;
}
.product-part .p-img1 {
  width: 354px;
  display: block;
  margin: 30px auto 0;
  position: relative;
  z-index: 2;
}
.product-part .p-img2 {
  width: 493px;
  margin: -20px auto 0;
  display: block;
  position: relative;
  z-index: 1;
}

.product-part .price-group {
  margin-top: 50px;
  margin-left: 10px;
}
.product-part .price1 {
  font-family: "Roboto-Bold";

  color: rgba(44, 44, 44, 1);
  font-size: 57px;
}
.product-part .price1 span {
  font-size: 95px;
}
.product-part .price2 {
  font-family: "Roboto-Bold";
  font-size: 35px;
  color: rgba(30, 30, 30, 0.35);
}
.product-part .title {
  font-size: 50px;
  font-family: "Roboto-Medium";
  color: #000000;
  margin-top: 35px;
  line-height: 1;
}
.product-part .label {
  font-family: "Roboto-Medium";
  color: #000000;
  margin-top: 40px;
  line-height: 1;
  margin-bottom: 15px;
  font-size: 32px;
  color: #1e1e1e;
}
.product-part .flex-x {
  align-items: center;
}
.product-part .option,
.product-part .select,
.product-part .addGroup {
  width: 364px;

  background: #fff;
  font-size: 32px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  border: 4px solid rgba(38, 38, 38, 0.3);
  border-radius: 47px;
  cursor: pointer;
}

.product-part .arrow-icon {
  right: 60px;
  position: absolute;
}

.product-part .addGroup {
  width: 364px;

  padding: 15px 60px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto-Bold";
}

.addGroup .reduce,
.addGroup .add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  flex-shrink: 0;
}

.addGroup input {
  outline: 0;
  border: none;
  text-align: center;
  box-sizing: border-box;
  width: 110px;
  height: 56px;
  line-height: 56px;
  color: #232326;
  background: transparent;
  /* vertical-align: middle; */
  padding: 0;

  font-family: "Roboto-Bold";

  font-size: 50px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.product-part .btn2 {
  width: 455px;
  height: 114px;
  background: #232323;
  border-radius: 12px;
  /* background: #ee4b10; */
  margin-top: -10px;
  font-size: 53px;
  font-family: "Roboto-Medium";
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 20px;
}
.product-box .tip {
  font-family: "Roboto-Medium";
  color: rgba(250, 81, 0, 1);
  font-size: 32px;
  align-items: center;
  justify-content: center;
  gap: 0 18px;
  margin-bottom: 50px;
}
.product-box.box2 {
  position: relative;
}
.product-box .hot {
  position: absolute;
  top: -30px;
  left: 5px;
}
.product-box .tab {
  font-family: "Roboto-Medium";
  font-size: 27px;
  color: #ee4b10;
  gap: 10px;
  margin-top: 3px;
}
.remark {
  background: #244577;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 10px 55px 80px;
  box-sizing: border-box;
}
.icon-text {
  font-size: 37px;
  font-family: "Roboto";
  white-space: nowrap;
  color: #fff;
}
.remark .icon {
  width: 44px;
  height: 44px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 30px;
  flex-shrink: 0;
}
.remark .flex-x {
  margin-top: 30px;
}
.remark .flex-x:nth-child(n) {
  width: 54%;
}
.remark .flex-x:nth-child(2n) {
  width: 44%;
}
.remark .flex-x:nth-child(1) .icon {
  background-image: url("../image/icon1.png");
}
.remark .flex-x:nth-child(2) .icon {
  background-image: url("../image/icon2.png");
}
.remark .flex-x:nth-child(3) .icon {
  background-image: url("../image/icon3.png");
}

.remark .flex-x:nth-child(4) .icon {
  background-image: url("../image/icon4.png");
}

.blue-box {
  width: 100%;
  height: 114px;
  background: #4374be;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
  font-family: "Roboto";
}
