* {
  margin: 0;
  padding: 0;
}

/*reset*/
html {
  max-width: 1080px;
  margin: 0 auto;
  /* scroll-behavior: smooth; */
}
body {
  font-size: 62.5%;

  margin: 0 auto;
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
img {
  border: none;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}

:focus {
  outline: none;
}
#root {
  color: #fff;
  font-size: 35px;
}

.sp-uppercase {
  text-transform: uppercase;
}

.sp-relative {
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: auto !important;
  text-size-adjust: auto !important;
  -moz-text-size-adjust: auto !important;
}

.sp-img {
  display: block;
  width: 100%;
}
.sp-flex-x {
  display: flex;
  align-items: center;
}

.flex-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sp-nav1 {
  width: 1080px;
  height: 108px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29px;
  font-size: 40px;
  font-family: "Roboto-Bold";
  position: fixed;
  z-index: 5;
  top: 0;
}
.sp-nav1 img {
  width: 56px;
}
.sp-nav2 {
  width: 1080px;
  height: 84px;
  background-color: rgba(49, 75, 153, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  font-size: 42px;
  font-family: "Roboto-Bold";
}
.sp-nav2 img {
  width: 64px;
}
.sp-nav3 {
  width: 1080px;
  height: 84px;
  background: #f87206;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 38px;
  font-family: "Roboto-Bold";
}
.sp-nav3 img {
  width: 77px;
}
.sp-header-top {
  height: 150px;
  width: 100%;
  position: fixed;
  top: 108px;
  z-index: 5;
  max-width: 1080px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sp-header-top .text {
  width: 192px;
  margin-left: 111px;
}
.sp-header-top .btn {
  width: 420px;
  height: 106px;
  background: #0c50bb;
  border-radius: 27px;
  margin-right: 56px;
  margin-left: 15px;
  font-family: "Montserrat-SemiBold";
  font-size: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: skip 3s infinite;
}
.sp-header-top .btn .icon {
  margin-left: 20px;
  width: 18px;
}

.sp-cart {
  width: 100px;
  height: 102px;
  border-radius: 23px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sp-cart .icon {
  width: 100%;
  height: 100%;
}
.sp-cart .num {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #f24a00;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: -12px;
  top: -12px;
  font-size: 25px;
  font-family: "Roboto-Bold";
  text-align: center;
  display: none;
}

.time-part {
  width: 1080px;
  height: 120px;
  background: #313131;
  font-family: "Roboto-Bold";
  color: #ffffff;
  padding: 0 52px 0 70px;
  box-sizing: border-box;
}
.time-part .text {
  font-size: 41px;
  font-family: "Montserrat-Bold";
  color: #ffe5a0;
}

.time-part .min-text {
  font-size: 20px;
  font-family: "Montserrat-Bold";
  margin-right: 10px;
  margin-top: 10px;
  align-self: flex-start;
}
.time-part .square {
  width: 102px;
  height: 98px;
  font-size: 82px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/num-bg.png");
  background-size: 100% 100%;
}
.time-part .dot {
  background-image: url("../image/num-dot.png");
  background-size: 100% 100%;
  width: 16px;
  height: 46px;
  margin: 0 15px;
}
.time-part .flex-bet {
  height: 100%;
}

.sp-part-top {
  margin-top: 259px;
}

.price-group {
  font-size: 115px;
  font-family: "Roboto-Bold";
  display: flex;
  align-items: baseline;
  font-size: 70px;
  color: #d10207;
}
.price-group .price1 {
  font-size: 102px;
  color: #d10207;
  margin-right: 10px;
}
.price-group .price2 {
  color: #494949;
  font-size: 44px;
  text-decoration: line-through;
}
.btn-style {
  font-family: "Montserrat-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-style .icon {
  width: 37px;
  margin-left: 26px;
}
.btn-style1 {
  width: 1080px;
  height: 160px;
  background: #314b99;
  font-size: 95px;
  font-family: "Roboto-Medium";
  align-items: center;
}
.btn-style1 .icon {
  width: 36px;
  margin-top: 10px;
}
.sp-part1 {
  margin-top: -1px;
}

.sp-part1 .title {
  width: 809px;
  position: absolute;
  top: 69px;
  left: 119px;
}
.sp-part1 .brand {
  width: 348px;
  position: absolute;
  top: 770px;
  right: 0;
}
.sp-part1 .box {
  width: 1080px;
  height: 344px;
  background: #314b99;
  font-family: "Montserrat-SemiBold";
}
.sp-part1 .area {
  margin-left: 59px;
  padding-top: 45px;
}
.sp-part1 .yellow {
  font-size: 54px;
  color: #fdec06;
  line-height: 1;
}
.sp-part1 .tip {
  font-size: 40px;
}
.sp-part1 .price1 {
  color: #fff;
  font-family: "Montserrat-SemiBold";
  font-size: 66px;
  vertical-align: bottom;
}
.sp-part1 .price1 span {
  font-size: 135px;
  margin-left: 10px;
}
.sp-part1 .price2 {
  font-size: 35px;
  opacity: 0.6;
  font-family: "Montserrat-SemiBold";
  color: #ffffff;
}
.sp-part1 .free {
  width: 376px;
  position: absolute;
  right: 0;
  bottom: 20px;
}
.sp-part2 {
  background-color: rgba(15, 15, 15, 1);
  padding: 90px 20px 120px 60px;
  color: #ffffff;
}
.sp-part2 .title {
  font-family: "Montserrat-Bold";
  color: #ffffff;
  font-size: 54px;
  position: relative;
  z-index: 2;
}
.sp-part2 .title img {
  width: 51px;
}
.sp-part2 .sub-title {
  font-size: 38px;
  opacity: 0.3;
  font-family: Roboto;
  margin: 20px 0 30px;
  position: relative;
  z-index: 2;
}
.sp-part2 .img2 {
  width: 1054px;
  height: 1124px;
  margin-top: -290px;
  position: relative;
  z-index: 0;
  margin-left: -40px;
}
.sp-part2 .title2 {
  font-size: 70px;
  font-family: "Montserrat-Bold";
  margin: 20px 0 85px 40px;
}
.sp-part2 .title2 span {
  color: rgba(250, 191, 0, 1);
}
.sp-part2 .icons {
  width: 794px;
  margin-left: 115px;
}
.sp-part2 .row {
  font-family: "Roboto-Medium";
  font-size: 40px;
  display: flex;
  padding-left: 20px;
  box-sizing: border-box;
  line-height: 1.4;
}
.sp-part2 .row.r1 {
  position: absolute;
  top: 160px;
  left: 20px;
}
.sp-part2 .row p:nth-child(2) {
  margin: 0 90px 0 110px;
}
.sp-part2 .row p {
  max-width: 250px;
}
.sp-part3 .bg {
  width: 100%;
  position: absolute;
  top: -150px;
  left: 0;
  z-index: -1;
}
.sp-part3 .box {
  width: 100%;
  margin-top: -150px;
  background-color: rgba(15, 15, 15, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  padding: 0 44px 90px;
  text-align: center;
}
.sp-part3 .title {
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 70px;
  text-align: center;
  line-height: 0.9;
  margin: 0px auto 30px;
}

.sp-part3 .text {
  opacity: 0.4;
  color: #fff;
  font-family: "Roboto-Medium";
}

.sp-part4 {
  background-color: #000;
}
.sp-part4 .title-wrap {
  position: absolute;
  top: 130px;
  left: 80px;
}
.sp-part4 .title {
  font-family: "Montserrat-Bold";
  font-size: 90px;
  line-height: 0.9;
}
.sp-part4 .sub-title {
  font-family: "Roboto-Medium";
  font-size: 40px;
  max-width: 540px;
  opacity: 0.5;
  margin-top: 20px;
}
.sp-part4 .gif {
  width: 428px;
  height: 412px;
  position: absolute;
  right: 26px;
  top: 884px;
  border-radius: 50%;
}
.sp-part4 .area {
  margin-top: -300px;
  margin-left: 19px;
  width: 1018px;
  line-height: 1;
  padding-bottom: 110px;
}
.sp-part4 .area .img1 {
  width: 353px;
}
.sp-part4 .area .t1 {
  color: #222222;
  font-family: "Roboto-Medium";
  font-size: 35px;
  position: absolute;
  left: 58px;
  top: 520px;
}
.sp-part4 .area .t2 {
  position: absolute;
  left: 565px;
  top: 510px;
  color: #ffffff;
  font-family: "Roboto-Medium";
  font-size: 30px;
  line-height: 1.4;
}

.sp-part5 {
  background-color: #000;
}

.sp-part5 .title {
  padding-top: 85px;
  padding-left: 86px;
  font-size: 57px;
  font-family: "Montserrat-Bold";
  margin-bottom: 60px;
  line-height: 1.3;
}
.sp-part5 .title p {
  color: rgba(250, 191, 0, 1);
}
.sp-yellow {
  color: rgba(250, 191, 0, 1);
}
.sp-part6 {
  padding: 30px 0 80px;
  background-color: #000;
}
.sp-part6 .title {
  font-size: 80px;
  font-family: "Montserrat-Bold";
  color: #fff;
  text-align: center;
}
.sp-part6 .sub-title {
  font-family: "Montserrat-Bold";
  text-align: center;
  font-size: 35px;
  margin: 5px 0 50px;
}
.sp-part6 .img1 {
  width: 797px;
  height: 1009px;
  margin: 0 auto;
  display: block;
}
.sp-part6 .text-wrap .circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
}
.sp-part7 .gif {
  width: 439px;
  height: 439px;
  border-radius: 50%;
  position: absolute;
  left: 34px;
  top: 587px;
}
.sp-part8 {
  background-color: #000;
  padding-bottom: 50px;
}
.sp-part8 .sp-title {
  font-family: "Montserrat-Bold";
  position: absolute;
  top: 80px;
  left: 74px;
  font-size: 65px;
}
.sp-part8 .area {
  display: flex;
  gap: 23px;
  font-size: 32px;
  font-family: "Montserrat-Bold";
  margin: -200px auto 0;
  text-align: center;
  justify-content: center;
}
.sp-part8 .area > div img {
  height: 594px;
}

.sp-part8 .t1 {
  font-size: 50px;
  color: #ffffff;
  position: absolute;
  top: 50px;
  width: 100%;
}
.sp-part8 .t2 {
  font-size: 32px;
  color: #ffffff;
  position: absolute;
  top: 120px;
  width: 100%;
}
.sp-part8 .t3 {
  font-size: 50px;
  color: #131313;
  position: absolute;
  top: 50px;
  width: 100%;
}
.sp-part9 {
  font-family: "Roboto-Medium";
  color: #2a2a2a;
}
.sp-part9 .title {
  font-family: "Montserrat-Bold";
  font-size: 80px;
  color: #fabf00;
  padding-top: 65px;
  padding-left: 74px;
  line-height: 1;
}
.sp-part9 .img1 {
  margin-left: 45px;
  width: 947px;
}
.sp-part9 .text {
  padding-left: 78px;
  margin-top: 10px;
  margin-bottom: 90px;
}
.product-part {
  padding: 50px 25px 80px 20px;
  background-color: #fff;
  font-family: "Roboto-Medium";
  box-sizing: border-box;
  color: #2d2d2d;
}
.product-box {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  padding: 60px 30px 65px;
  box-sizing: border-box;
}
.product-part .p-img {
  width: 658px;
  height: 579px;
  display: block;
}
.product-part .p-img-wrap {
  display: flex;
}
.product-part .brand {
  width: 162px;
  height: 153px;
  font-size: 55px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  padding-bottom: 20px;
  box-sizing: border-box;
  background: url("../image/p-brand.png") no-repeat 100% 100%/100%;
  margin-top: 70px;
  margin-left: 40px;
}
.product-part .free {
  width: 259px;
  height: 257px;
  margin-top: 50px;
  margin-left: -10px;
}
.product-part .sp-title {
  color: #272727;
  font-size: 48px;
  font-family: "Montserrat-SemiBold";
  font-size: 59px;
  text-align: center;
  margin: 60px auto;
}

.product-part .price-group {
  line-height: 1;
  justify-content: center;
  margin-left: 150px;
}
.product-part .price1 {
  font-family: "Roboto-Bold";
  font-size: 84px;
  color: #1e1e1e;
}
.product-part .price1 span {
  font-size: 169px;
}
.product-part .price2 {
  font-family: "Roboto-Bold";
  font-size: 56px;
  color: #1e1e1e;
  opacity: 0.3;
}

.product-part .sp-btn-style {
  width: 100%;
  height: 215px;
  background: url("../image/btn-bg.png") no-repeat 100% 100%/100%;
  color: #fff;
  font-size: 56px;
  font-family: "Roboto-Bold";
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  animation: skip 4s infinite;
  padding-bottom: 50px;
}
.product-part .sp-btn-style .icon {
  margin-left: 31px;
  width: 27px;
}

@keyframes skip {
  0%,
  10%,
  16%,
  27%,
  100% {
    transform: scale(1);
  }
  5%,
  13%,
  21% {
    transform: scale(0.9);
  }
}

.addGroup {
  width: 495px;
  height: 110px;
  padding: 0px 60px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  font-family: "Roboto-Bold";
  border: 5px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto 30px;
}

.addGroup .reduce,
.addGroup .add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  cursor: pointer;
  flex-shrink: 0;
}

.addGroup input {
  outline: 0;
  border: none;
  text-align: center;
  box-sizing: border-box;
  width: 215px;
  height: 100%;
  color: #232326;
  background: #fff;
  /* vertical-align: middle; */
  padding: 0;
  font-family: "Roboto-Bold";
  font-size: 50px;
  line-height: 40px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.product-box .tip {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Roboto-Bold";
  color: #363636;
  font-size: 38px;
  margin: -10px auto 10px;
}
.product-box .tip img {
  width: 77px;
}
.sp-nav5 {
  font-size: 37px;
  font-family: Roboto;
  height: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #fff;
  background: #4374be;
}
.sp-nav5 img {
  width: 56px;
}
.remark {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0px 60px 75px;

  background: #244577;
  gap: 34px 0;
  box-sizing: border-box;
}
.icon-text {
  font-size: 37px;
  font-family: "Roboto";
  white-space: nowrap;
  color: #fff;
  text-align: center;
}
.remark .icon {
  width: 45px;
  height: 45px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 19px;
  flex-shrink: 0;
}

.remark .sp-flex-x:nth-child(n) {
  width: 49%;
}
.remark .sp-flex-x:nth-child(2n) {
  width: 44%;
}
.remark .sp-flex-x:nth-child(1) .icon {
  background-image: url("../image/icon1.png");
}
.remark .sp-flex-x:nth-child(2) .icon {
  background-image: url("../image/icon2.png");
}
.remark .sp-flex-x:nth-child(3) .icon {
  background-image: url("../image/icon3.png");
}

.remark .sp-flex-x:nth-child(4) .icon {
  background-image: url("../image/icon4.png");
}
.sp-fix-btn {
  position: fixed;
  right: 0px;
  bottom: 20%;
  width: 331px;
  height: 224px;
  z-index: 9;
}

.sp-fix-btn .box1 {
  width: 290px;
  height: 210px;
  margin: 0 auto;
  background-image: url("../image/bg1.png");
  background-size: 100% 100%;
}
.sp-fix-btn .p {
  margin-top: -31px;
  animation: shakeMe 3s both infinite;
  margin-left: 24px;
}
.sp-fix-btn .btn-style {
  width: 331px;
  height: 88px;
  position: absolute;
  bottom: 0;
  background: #0a0a0a;
  border-radius: 44px;
  font-size: 46px;
  font-family: "Roboto-Bold";
  color: #ffffff;
}
.sp-fix-btn .btn-style .icon {
  width: 20px;
  margin-left: 12px;
}
.sp-fix-btn .swiper {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 84px;
  color: #e56600;
  font-family: "Roboto-BoldItalic";
  font-size: 57px;
  text-stroke: 10px #ffffff;
  -webkit-text-stroke: 10px #ffffff;
}
.sp-fix-btn .swiper-slide {
  padding-right: 50px;
  box-sizing: border-box;
}
.sp-fix-btn .swiper p::before {
  content: attr(data-title);
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  -webkit-text-stroke: 0;
}
@keyframes shakeMe {
  0%,
  70% {
    transform: scale(1);
    transform: scale(1);
  }

  77%,
  83%,
  90%,
  97% {
    transform: scale(1.2) rotate(10deg);
    transform: scale(1.2) rotate(10deg);
  }

  80%,
  87%,
  93% {
    transform: scale(1.2) rotate(-10deg);
    transform: scale(1.2) rotate(-10deg);
  }

  100% {
    transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
