@font-face {
  /* 重命名字体名 */
  font-family: "Roboto";
  /* 引入字体 */
  src: url("./Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "Roboto-Bold";
  /* 引入字体 */
  src: url("./Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "Roboto-Medium";
  /* 引入字体 */
  src: url("./Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "Montserrat-Bold";
  /* 引入字体 */
  src: url("./Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "OPPOSans-M";
  /* 引入字体 */
  src: url("./OpenSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "MinionConceptRoman-Regular";
  /* 引入字体 */
  src: url("./Minion\ Variable\ Concept.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "MinionConceptRoman-Medium";
  /* 引入字体 */
  src: url("./Minion\ Variable\ Concept.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "MinionConceptRoman-Bold";
  /* 引入字体 */
  src: url("./MinionPro-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "MinionConceptRoman-Semibold";
  /* 引入字体 */
  src: url("./MinionPro-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
