* {
  margin: 0;
  padding: 0;
}

/*reset*/
html {
  max-width: 1080px;
  margin: 0 auto;
  /* scroll-behavior: smooth; */
}
body {
  font-size: 62.5%;

  margin: 0 auto;
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
img {
  border: none;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}

:focus {
  outline: none;
}
#root {
  color: #fff;
  font-size: 35px;
}

.sp-uppercase {
  text-transform: uppercase;
}

.sp-relative {
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: auto !important;
  text-size-adjust: auto !important;
  -moz-text-size-adjust: auto !important;
}

.sp-img {
  display: block;
  width: 100%;
}
.sp-flex-x {
  display: flex;
  align-items: center;
}

.flex-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sp-header-top {
  height: 142px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 5;
  max-width: 1080px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sp-header-top .text {
  width: 165px;
  margin-left: 59px;
}
.sp-header-top .btn {
  width: 380px;
  height: 101px;
  background: #252525;
  border-radius: 27px;
  margin-right: 40px;
  font-family: "Montserrat-SemiBold";
  font-size: 38px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sp-header-top .btn img {
  width: 18px;
  margin-left: 18px;
}
.sp-cart {
  width: 96px;
  height: 96px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sp-cart .icon {
  width: 100%;
}
.sp-cart .num {
  width: 27px;
  height: 27px;
  line-height: 27px;
  background: #cf0101;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: -8px;
  top: -8px;
  font-size: 18px;
  font-family: "Roboto-Bold";
  text-align: center;
}
.sp-part-top {
  margin-top: 142px;
}
.sp-font {
  background: linear-gradient(179deg, #88f7fe 0%, #67a6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sp-stroke {
  position: relative;
}
.sp-stroke::after {
  content: attr(data-title);
  text-stroke: 0;
  -webkit-text-stroke: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.price-group {
  font-size: 115px;
  font-family: "Roboto-Bold";
  display: flex;
  align-items: baseline;
  font-size: 70px;
  color: #d10207;
}
.price-group .price1 {
  font-size: 102px;
  color: #d10207;
  margin-right: 10px;
}
.price-group .price2 {
  color: #494949;
  font-size: 44px;
  text-decoration: line-through;
}
.btn-style {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-style .icon {
  width: 34px;
  margin-left: 22px;
}

.sp-part1 {
  overflow: hidden;
}
.sp-part1 .area {
  position: absolute;
  top: 95px;
  width: 100%;
  text-align: center;
}
.sp-part1 .title {
  font-family: "Roboto-Bold";
  font-size: 87px;
  line-height: 1.1;
  margin-bottom: 30px;
  text-stroke: 5px #ffffff;
  -webkit-text-stroke: 5px #ffffff;
}
.sp-part1 .sp-stroke {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.sp-part1 .sp-stroke::after {
  content: attr(data-title);
  -webkit-text-stroke: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: linear-gradient(179deg, #88f7fe 0%, #67a6ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sp-part1 .sub-title {
  font-size: 60px;
  color: #ffffff;
  font-family: Roboto;
}
.sp-part1 .circle {
  width: 343px;
  height: 315px;
  background: url("../image/img1-circle.png") no-repeat;
  background-size: 100% 100%;
  font-size: 103px;
  color: #ffffff;
  font-family: "Roboto-Bold";
  line-height: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 99px;
  top: 808px;
}

.sp-part1 .btn-wrap {
  height: 160px;
  position: absolute;
  bottom: 55px;
  left: 110px;
  width: 860px;
  animation: fadeInRight 1.5s;
}
.sp-part1 .btn-style {
  height: 160px;
  font-size: 63px;
  color: #ffffff;
  font-family: "Roboto-Medium";
  display: flex;
  align-items: center;
  justify-content: center;
}
.sp-part1 .free {
  width: 255px;
  height: 73px;
  background: url("../image/btn-icon.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: -5px;
  top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  font-family: "Roboto-Medium";
  font-size: 30px;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.sp-part1 .free img {
  width: 38px;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.sp-part1 .swiper-slide,
.sp-part1 .swiper {
  width: 100%;
  height: 100%;
}
.sp-part1 .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sp-part1 .price1 {
  color: #fff;
  font-size: 64px;
  font-family: "Roboto-Bold";
}
.sp-part1 .price1 span {
  font-size: 90px;
}
.sp-part1 .price2 {
  color: #fff;
  font-size: 45px;
  font-family: "Roboto-Bold";
  opacity: 0.5;
  margin-right: 10px;
}
.sp-title-wrap {
  position: absolute;
  top: 40px;
  width: 100%;
}
.sp-title {
  font-family: "Roboto-Bold";
  font-size: 80px;
  color: #000000;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}
.sp-sub-title {
  font-family: "Roboto";
  text-align: center;
  font-size: 35px;
  color: #000000;
  opacity: 0.8;
}

.sp-part2 {
  background: #0c121e;
  margin-top: -1px;
  position: relative;
  z-index: 1;
  padding: 60px 48px 100px 30px;
}
.sp-part2 .title {
  font-family: "Roboto-Bold";
  text-align: center;
  font-size: 87px;
  margin-bottom: 50px;
}
.sp-part2 .text-group {
  position: absolute;
}
.sp-part2 .text-group .title-s {
  font-family: "Roboto-Medium";
  color: #144acd;
  font-size: 38px;
}
.sp-part2 .text-group > p {
  flex: 1;
  font-family: "Roboto-Light";
  font-size: 28px;
  color: #272727;
  font-weight: 300;
  line-height: 1.1;
  opacity: 0.5;
}
.sp-part2 .t1 {
  max-width: 270px;
  top: 199px;
  left: 350px;
  text-align: right;
}
.sp-part2 .t2 {
  top: 135px;
  left: 679px;
}
.sp-part .title2 {
  font-size: 50px;
}
.sp-part2 .t3 {
  max-width: 300px;
  top: 545px;
  left: 45px;
}
.sp-part2 .t4 {
  max-width: 320px;
  top: 515px;
  left: 405px;
}
.sp-part2 .t5 {
  max-width: 320px;
  top: 872px;
  left: 405px;
}
.sp-part2 .t6 {
  max-width: 320px;
  top: 515px;
  left: 765px;
}
.sp-part2 .t6 .title-s,
.sp-part2 .t6 p,
.sp-part2 .t7 .title-s {
  color: #fff;
}
.sp-part2 .t7 {
  max-width: 320px;
  top: 924px;
  left: 765px;
}

.sp-part3 {
  padding: 50px 58px 37px 66px;
}

.sp-part3 .sp-title {
  font-size: 80px;
  white-space: nowrap;
}
.sp-part3 .sp-sub-title {
  font-size: 50px;
  margin-bottom: 40px;
  margin-top: 6px;
}
.sp-part3 .img-box {
  margin-bottom: 33px;
  position: relative;
}
.sp-part3 .text-wrap {
  width: 100%;
  height: 100px;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 30px;
}
.sp-part3 .text-wrap > p {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Roboto-Medium";
  font-size: 38px;
}
.sp-part4 .area {
  width: 100%;
  position: absolute;
  top: 34px;
}

.sp-part4 .row {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  margin-bottom: 30px;
  padding: 0 36px;
  box-sizing: border-box;
  margin-top: -180px;
  position: relative;
  z-index: 2;
}
.sp-part4 .row img {
  border: 5px solid #fff;
  border-radius: 30px;
}

.sp-part5 .area {
  position: absolute;
  left: 589px;
  top: 652px;
}
.sp-part5 .title {
  font-size: 65px;
  font-family: "Roboto-Medium";
  line-height: 1.1;
  margin-bottom: 33px;
}
.sp-part5 .sub-title {
  font-size: 33px;
  font-family: Roboto;
  max-width: 450px;
  line-height: 1.3;
}
.sp-part5 .sub-title span {
  font-size: 48px;
}
.sp-part6 {
  position: relative;
  z-index: 1;
  margin-top: -1px;
}
.sp-part6 .area {
  position: absolute;
  width: 100%;
  top: 15px;
  text-align: center;
}
.sp-part6 .title {
  font-size: 63px;
  font-family: "Roboto-Bold";
  line-height: 1.1;
}
.sp-part6 .sub-title {
  font-size: 35px;
  font-family: "Roboto-Light";
  line-height: 1.1;
}
.sp-part7 .sp-title-wrap,
.sp-part8 .sp-title-wrap {
  position: absolute;
  top: 60px;
  width: 100%;
}
.sp-part7 .sp-title,
.sp-part8 .sp-title {
  color: #fff;
  font-size: 65px;
}
.sp-part7 .sp-title span,
.sp-part8 .sp-title span {
  font-size: 75px;
}
.sp-part7 .text-wrap,
.sp-part8 .text-wrap {
  position: absolute;
  top: 1137px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
  color: #ffffff;
  padding-left: 10px;
  box-sizing: border-box;
}
.sp-part7 .text-wrap > div {
  max-width: 200px;
  /* flex: 1; */
  width: 200px;
}
.sp-part7 .title {
  font-family: "Roboto-Medium";
  font-size: 35px;
  line-height: 1.2;
}
.sp-part7 p {
  font-family: "Roboto-Light";
  font-size: 25px;
}
.sp-part8 {
  margin-top: -2px;
}
.sp-part8 .sp-title-wrap {
  top: 70px;
}
.sp-part8 .title {
  position: absolute;
  top: 1072px;
  width: 100%;
  font-family: "Roboto-Medium";
  font-size: 65px;
  line-height: 1;
  text-align: center;
}
.sp-part8 .img-box {
  position: absolute;
  top: 1161px;
  left: 28px;
  width: 1028px;
  height: 188px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-size: 35px;
  font-family: Roboto;
  background: url("../image/img8-2.png") no-repeat;
  background-size: 100% 100%;
}
.sp-part8 .img-box p {
  flex: 1;
  padding-left: 25px;
  padding-bottom: 19px;
}

.sp-part9 {
  padding: 65px 90px 0px 100px;
}
.sp-part9 .p-img {
  width: 409px;
}

.sp-part9 .title {
  font-family: "Roboto-Medium";
  font-size: 75px;
  color: #000000;
  text-align: center;
  margin-bottom: 60px;
}
.sp-part9 .row {
  display: flex;
  justify-content: space-between;
}
.sp-part9 p {
  font-size: 30px;
  font-family: "Roboto";
  color: #000000;
  padding: 35px 0 30px;
  border-bottom: 2px solid #bbbbbb;
  font-weight: 400;
}
.sp-part9 p span {
  text-align: right;
  display: block;
}
.sp-part9 .img {
  width: 406px;
}
.sp-part10 {
  padding: 55px 72px 44px 53px;
}
.sp-part10 .title2 {
  font-family: "Roboto-Medium";
  font-size: 40px;
  color: #101010;
  text-align: center;
  margin-bottom: 33px;
}

.sp-size {
  width: 100%;
  height: 328px;
  background-image: url("../image/discount-bg.png");
  background-size: 100% 100%;
  font-family: "Roboto-Medium";
  color: #101010;
  font-size: 36px;
  display: flex;
  text-align: center;
  line-height: 83px;
}

.sp-size .col {
  flex: 1;
}
.sp-size .col:last-child p:not(.title) {
  color: #ff001d;
}
.sp-nav {
  width: 1080px;
  height: 110px;
  background: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: "Roboto-Bold";
  font-size: 55px;
  color: #fff;
  box-sizing: border-box;
}
.sp-nav img {
  width: 139px;
}
@keyframes _flash {
  0%,
  50%,
  100% {
    color: #fff;
  }
  25%,
  75% {
    color: rgba(255, 18, 0, 1);
  }
}
.product-part {
  padding: 70px 60px 0px;
  font-family: "Roboto-Medium";
  box-sizing: border-box;
  position: relative;
}

.product-part .img-wrap {
  margin: 0 auto 70px;
  display: flex;
  align-items: center;
  width: fit-content;
}
.product-part .p-img {
  height: 478px;
  display: block;
}

.product-part .off {
  background: url("../image/off.png") no-repeat;
  background-size: 100% 100%;
  width: 264px;
  height: 62px;
  font-family: "Roboto-Bold";
  font-size: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 26px;
  box-sizing: border-box;
  margin-left: 5px;
}

.product-part .option-title {
  color: #000000;
  font-family: "Roboto-Medium";
  font-size: 36px;
  white-space: nowrap;
  margin: 15px 0;
}

.product-part .opt-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 38px;
}
.product-part .option {
  width: 337px;
  height: 101px;
  background: #ffffff;
  border-radius: 20px;
  border: 2px solid #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  font-family: "Roboto-Medium";
  font-weight: 500;
  color: #1e1e1e;
  font-size: 45px;
  line-height: 1;
}

.product-part .option.active {
  border-color: #2f2f2f;
  background: #2f2f2f;
  color: #fff;
}

.product-part .price-group {
  line-height: 1;
  justify-content: center;
  align-items: flex-end;
}
.product-part .price1 {
  font-family: "Roboto-Bold";
  font-size: 64px;
  color: #1e1e1e;
}
.product-part .price1 span {
  font-size: 90px;
}
.product-part .price2 {
  font-family: "Roboto-Bold";
  font-size: 40px;
  color: #999999;
  /* opacity: 0.3; */
}

.product-part .sp-btn-style {
  width: 100%;
  height: 166px;
  background: url("../image/btn-bg.png") no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 63px;
  font-family: "Roboto-Medium";
  cursor: pointer;
  margin-top: 48px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: skip 4s infinite;
}

.product-part .cart-btn {
  width: 469px;
  height: 121px;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #000000;
  text-align: center;
  box-sizing: border-box;
  font-size: 40px;
  gap: 25px;

  font-family: "Roboto-Medium";
  color: #000;
}
.product-part .cart-btn img {
  width: 40px;
}
.product-part .free {
  width: 255px;
  height: 73px;
  background: url("../image/btn-icon.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: -15px;
  top: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  font-family: "Roboto-Medium";
  font-size: 30px;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.product-part .free img {
  width: 38px;
}
@keyframes skip {
  0%,
  10%,
  16%,
  27%,
  100% {
    transform: scale(1);
  }
  5%,
  13%,
  21% {
    transform: scale(0.8);
  }
}

.addGroup {
  width: 473px;
  height: 121px;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #000000;
  padding: 0px 30px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto-Bold";
}

.addGroup .reduce,
.addGroup .add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;

  cursor: pointer;
  flex-shrink: 0;
}

.addGroup input {
  outline: 0;
  border: none;
  text-align: center;
  box-sizing: border-box;
  width: 215px;
  height: 100%;
  color: #232326;
  background: #fff;
  /* vertical-align: middle; */
  padding: 0;
  font-family: "Roboto-Bold";
  font-size: 50px;

  line-height: 50px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.sp-nav2 {
  font-family: "Roboto-Medium";
  font-size: 37px;
  color: #ff8100;
  display: flex;
  gap: 18px;
  justify-content: center;
  width: 100%;
  align-items: baseline;
  margin-bottom: 30px;
}
.sp-nav2 img {
  width: 50px;
}
.sp-footer {
  padding: 0px 115px;
}
.sp-footer2 {
  padding: 0px 55px;
}
.sp-nav5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  color: #fff;
  font-family: Roboto;
  gap: 30px;

  height: 110px;

  background: #9fd7cb;
}
.sp-nav5 img {
  width: 56px;
}

.remark {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0px 50px 84px;
  background-size: 100% 100%;
  gap: 26px 0;
  box-sizing: border-box;
}
.icon-text {
  font-size: 38px;
  font-family: "Roboto-Medium";
  white-space: nowrap;
  color: #000;
  text-align: center;
}

.remark .icon {
  width: 45px;
  height: 45px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 27px;
  flex-shrink: 0;
}

.remark .sp-flex-x:nth-child(n) {
  width: 49%;
}
.remark .sp-flex-x:nth-child(2n) {
  width: 46%;
}
.remark .sp-flex-x:nth-child(1) .icon {
  background-image: url("../image/icon1.png");
}
.remark .sp-flex-x:nth-child(2) .icon {
  background-image: url("../image/icon2.png");
}
.remark .sp-flex-x:nth-child(3) .icon {
  background-image: url("../image/icon3.png");
}

.remark .sp-flex-x:nth-child(4) .icon {
  background-image: url("../image/icon4.png");
}
