* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
}

/*reset*/
html {
  max-width: 1080px;
  margin: 0 auto;
}
body {
  font-size: 62.5%;
  background-color: #fff;
  color: #333;
  margin: 0 auto;
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
img {
  border: none;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}

:focus {
  outline: none;
}

.p-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sp-uppercase {
  text-transform: uppercase;
}

.sp-relative {
  position: relative;
}
.black-bg {
  background-color: #000;
  color: #fff;
}
.limit-width {
  width: calc(100% - 130px);
  margin-left: auto;
  margin-right: auto;
}
html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: auto !important;
  text-size-adjust: auto !important;
  -moz-text-size-adjust: auto !important;
}

body {
  background: #fff;
  overflow-x: hidden;
}

.font-gray {
  color: #0000007d;
}
.sp-img {
  width: 100%;
  display: block;
}

.sp-flex-x {
  display: flex;
}
.sp-flex-bet {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sp-header-top {
  height: 149px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 8;
  max-width: 1080px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sp-header-top .text {
  width: 221px;
  margin-left: 81px;
}
.sp-header-top .btn {
  width: 432px;
  height: 107px;

  margin-right: 25px;
  border-radius: 20px;
  font-family: "Montserrat-Regular";

  background-color: #272727;
  font-size: 41px;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* animation: big 1.2s ease-in-out infinite; */
}
@keyframes big {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
}

.cart {
  width: 114px;
  height: 102px;
  border: 4px solid #07020315;
  border-radius: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 25px;
}
.cart .icon {
  width: 58px;
  height: 53px;
}
.cart .num {
  width: 31px;
  height: 31px;
  line-height: 31px;
  background: #ff0012;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: -15px;
  top: -15px;
  font-size: 30px;
  font-family: "Roboto";
  text-align: center;
}
.nav {
  width: 100%;
  height: 89px;
  color: #fff;
  font-size: 50px;
  font-family: "Roboto-Bold";
  background-color: #000000;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}
.nav-group {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  height: 100%;
  text-align: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  /* letter-spacing: 2px; */
}

.nav2 {
  background-color: #ba382e;
  height: 103px;
}
.sp-part {
  font-size: 0;
}

.sp-part-top {
  margin-top: 149px;
}
.sp-part0 {
  font-size: 40px;
  color: #010101;
  font-family: "Roboto";
  padding: 60px 80px 0px;
  line-height: 1.5;
}
.sp-part0 .swiper {
  padding-bottom: 100px;
  margin-top: 35px;
}
.sp-part0 .line {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.sp-part0 img {
  margin: auto;
  display: block;
}
.sp-part0 .swiper-pagination-bullet {
  background: #161616;
  opacity: 1;
  width: 23px;
  height: 23px;
  margin: 0 7px !important;
}
.sp-part0 .swiper-pagination-bullet-active {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 18px;
}
.swiper-part {
  margin-top: 70px;
  margin-bottom: 20px;
  height: 1216px;
  display: flex;
  align-items: center;
  position: relative;
}
.swiper-part .tip {
  position: absolute;
  top: 1110px;
  right: 32px;
  font-size: 50px;
  font-family: Roboto;
  color: #181818;
  z-index: 1;
}
.swiper-part #swiper0 {
  flex-shrink: 0;
  width: 904px;
  height: 100%;
  /* position: absolute;
  top: 0;
  right: 0; */
}
.thumbs-wrap {
  height: 100%;
  width: 160px;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
#thumbs {
  height: 100%;
}
#thumbs .sp-img {
  width: 100%;
  height: 100%;
  /* border: 4px solid transparent; */
  box-sizing: border-box;
  cursor: pointer;
}
#thumbs .swiper-slide-thumb-active .sp-img {
  border: 4px solid #000;
}

.btn-style {
  font-family: "Montserrat-Medium";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-style .icon {
  width: 16px;
  margin-left: 17px;
}
.black-btn {
  width: 100%;
  height: 160px;
  background: #121008;
  font-size: 60px;
  color: #fff;
}
.sp-cod .title {
  font-family: "Montserrat-Bold";
  font-size: 75px;
  color: #fff;
  line-height: 1;
  position: absolute;
  top: 130px;
  left: 680px;
}
.sp-part1 {
  padding: 60px 15px;
}
.sp-part1 .text {
  font-size: 40px;
  font-family: "Roboto";
  color: #fff;
  position: absolute;
  bottom: 49px;
  left: 45px;
  line-height: 1.4;
}

.sp-part2 {
  margin-top: 55px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 2px;
}
.sp-part2 .text {
  font-family: "Roboto";
  font-size: 35px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 35px;
}
.sp-part2 > div {
  height: fit-content;
  flex: 1 1 auto;
}
.sp-part2 img {
  width: 100%;
}

.sp-part2 .text2 {
  font-family: "Roboto-Bold";
  font-size: 60px;
  padding-left: 70px;
  margin-top: 65px;
  margin-bottom: 10px;
  color: #1f1f1f;
}
.sp-part3 .text {
  font-family: "Roboto";
  line-height: 1.3;
  font-size: 40px;
  color: #181818;
  margin-bottom: 25px;
}
.sp-part3 .box {
  margin-top: -100px;
  padding: 0 70px;
}

.sp-part4 .title {
  font-size: 60px;
  font-family: "Roboto-Bold";
  position: absolute;
  top: 927px;
  left: 35px;
  max-width: 450px;
  color: #000000;
}

.sp-part5 {
  color: #fff;
  background: #000000;
  padding: 80px 87px 97px 93px;
}
.sp-part5 .img {
  margin-left: 67px;
}
.sp-part5 .title {
  font-size: 60px;
  font-family: "Roboto-Bold";
  line-height: 1.1;
  position: absolute;
  top: 20px;
  left: 127px;
}

.sp-part5 .text {
  font-family: "Roboto";
  color: #fff;
  font-size: 35px;
  margin-top: 75px;
  line-height: 1.5;
}
.sp-product-part {
  padding: 50px 45px 0;
}
.sp-product-part .p-img {
  width: 376px;
}
.full-icon {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0;
}
.sp-product-part .row1 {
  display: flex;
  align-items: center;
}
.sp-product-part .p-title {
  font-family: "Roboto-Medium";
  font-size: 42px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #1e1e1e79;
}
.sp-product-part .title {
  font-size: 32px;
  color: #1e1e1e;
  margin-top: 30px;
  font-family: "Roboto-Medium";
  margin-bottom: 30px;
  padding-left: 8px;
}
.sp-product-part .gray-opt {
  background: #fff;

  border-radius: 47px;
  font-family: "Roboto-Medium";
  border: 4px solid #ff9600;
  font-size: 32px;
  color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 31px;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  /* word-spacing: -10px; */
}
.sp-product-part .options1 .gray-opt {
  width: 318px;
  height: 98px;
}
.sp-product-part .options2 .gray-opt {
  width: 238px;
  height: 98px;
}
.sp-product-part .gray-opt.active {
  background: #ff9600;
  color: #fff;
}

.sp-product-part .options2,
.sp-product-part .options1 {
  display: flex;
  gap: 20px 16px;
  flex-wrap: wrap;
}
.sp-product-part .options2 {
  gap: 20px 12px;
}

.sp-product-part .prices {
  font-size: 96px;
  font-family: "Roboto-Bold";
  color: #1e1e1e;
  margin-right: 25px;
}

.sp-product-part .prices-gray {
  color: rgba(30, 30, 30, 0.35);
  font-family: "Roboto-Bold";

  font-size: 44px;
  line-height: 1;
  text-decoration: line-through;
}
.sp-product-part .sp-btn-style {
  height: 144px;
  width: 100%;
  color: #fff;
  background: #ee4b10;

  font-size: 53px;
  font-family: "Roboto-Medium";
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 50px;
}
.sp-product-part .sp-btn-style .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sp-product-part .cart-btn {
  font-family: "Roboto-Medium";
  font-size: 35px;
  align-items: center;
  display: flex;
}
.sp-product-part .cart-icon {
  margin-right: 25px;
  width: 41px;
  vertical-align: baseline;
  transform: rotateY(180deg);
}
.cart-btn {
  width: 510px;
  height: 98px;
  display: block;
  line-height: 98px;
  text-align: center;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-size: 35px;
  font-family: "Roboto-Medium";
  border-radius: 50px;
}
.addGroup {
  width: 390px;
  height: 98px;
  padding: 10px 25px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  border-radius: 50px;
  font-family: "Roboto-Medium";

  border: 4px solid rgba(0, 0, 0, 0.2);
}

.addGroup .reduce,
.addGroup .add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  flex-shrink: 0;
}

.addGroup input {
  outline: 0;
  border: none;
  text-align: center;
  box-sizing: border-box;
  width: 110px;
  height: 56px;
  color: #232326;
  background: transparent;
  /* vertical-align: middle; */
  padding: 0;
  font-family: "Roboto-Bold";
  font-size: 40px;
  line-height: 40px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.remark {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 80px 45px;
  background-color: #ff974b;
  gap: 30px 0;
}
.icon-text {
  font-size: 35px;
  font-family: "Roboto-Medium";
  /* white-space: nowrap; */
  color: #fff;
  width: 300px;
  text-align: center;
}
.remark .icon {
  width: 47px;
  height: 47px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* margin-right: 20px; */
  flex-shrink: 0;
}

.remark .sp-flex-x:nth-child(n) {
  width: 54%;
}
.remark .sp-flex-x:nth-child(2n) {
  width: 46%;
}
.remark .sp-flex-x:nth-child(1) .icon {
  background-image: url("../image/icon1.png");
}
.remark .sp-flex-x:nth-child(2) .icon {
  margin-right: 7px;
  background-image: url("../image/icon2.png");
}
.remark .sp-flex-x:nth-child(3) .icon {
  background-image: url("../image/icon3.png");
}

.remark .sp-flex-x:nth-child(4) .icon {
  margin-right: 7px;

  background-image: url("../image/icon4.png");
}

.footer {
  color: #fde159;
  font-family: "Roboto-Medium";
  font-size: 50px;
}
.footer .text {
  position: absolute;
  left: 590px;
  top: 100px;
  text-align: center;
  max-width: 590px;
  line-height: 1.3;
}
.footer .text2 {
  font-size: 46px;
  text-align: center;
  line-height: 1.3;
  max-width: 590px;
}
.sp-icon-group {
  padding: 80px 100px 40px;
  background: #f2f2f2;
  font-size: 35px;
  font-family: "Roboto-Medium";
  color: #000000;
}
.sp-icon-group > div {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.sp-icon-group img {
  width: 70px;
  margin-right: 40px;
}
.sp_pop_mask {
  display: none;
  /* display: block; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  overflow: auto;
}
.sp_pop_mask .sp_pop_content1 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* max-width: 1500px; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.sp_pop_mask .sp_pop_content {
  position: relative;
  margin: 0 auto;
  margin-top: 12%;
  width: 100%;
  /* max-width: 1500px; */
  background: #fff;
  /* border-radius: 20px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 80px 80px 90px;
  font-size: 40px;
  font-family: "Roboto";
  box-sizing: border-box;
}
.sp_pop_mask .cart-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  gap: 40px;
  font-family: "Roboto";
}
.sp_pop_mask .number-wrap {
  display: flex;
  align-items: center;
  font-size: 58px;
  color: #1c1c1ce5;
  line-height: 1;
}
.sp_pop_mask .number-wrap img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-top: 10px;
}
.sp_pop_mask .p-title {
  color: #1c1c1ce5;
  max-width: 560px;
  margin-bottom: 40px;
}
.sp_pop_mask .right {
  width: 36px;
  height: 25px;
  margin-right: 30px;
}
.sp_pop_mask .btn1,
.sp_pop_mask .btn2 {
  width: 889px;
  height: 126px;
  border: 4px solid #000000;
  cursor: pointer;
  font-family: "Roboto";
}
.sp_pop_mask .btn1 {
  margin-bottom: 28px;
  margin-top: 90px;
}
.sp_pop_mask .btn2 {
  background: #000000;
  color: #fff;
}
.sp_pop_mask .tip {
  width: 100%;
  text-align: center;
  font-size: 45px;
  color: rgba(0, 0, 0, 0.88);
  margin-top: 40px;
  text-decoration: underline;
}
@media (min-width: 899px) {
  .sp_pop_content {
    zoom: 0.6;
  }
}
