* {
  margin: 0;
  padding: 0;
}

/*reset*/
html {
  max-width: 1080px;
  margin: 0 auto;
  /* scroll-behavior: smooth; */
}
body {
  font-size: 62.5%;

  margin: 0 auto;
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
img {
  border: none;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}

:focus {
  outline: none;
}
#root {
  color: #fff;
  font-size: 35px;
}

.sp-uppercase {
  text-transform: uppercase;
}

.sp-relative {
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: auto !important;
  text-size-adjust: auto !important;
  -moz-text-size-adjust: auto !important;
}

.sp-img {
  display: block;
  width: 100%;
}
.sp-flex-x {
  display: flex;
  align-items: center;
}

.flex-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sp-header-top {
  height: 140px;
  width: 100%;
  position: fixed;
  top: 118px;
  z-index: 5;
  max-width: 1080px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sp-header-top .text {
  width: 221px;
  margin-left: 22px;
}
.sp-header-top .btn {
  width: 420px;
  height: 106px;
  background: #252525;
  border-radius: 27px;
  margin-right: 43px;
  font-family: "AkzidenzGroteskBQ-Medium";
  font-size: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: skip 4s infinite;
  cursor: pointer;
}
.sp-header-top .btn .icon {
  margin-left: 18px;
  width: 18px;
}

.time-part {
  width: 1080px;
  height: 119px;
  background: url("../image/nav-bg.png") no-repeat 100% 100%/100%;
  font-family: "Roboto-Bold";
  color: #ffffff;
  padding: 0 39px 0 30px;
  position: fixed;
  top: 0px;
  box-sizing: border-box;
  z-index: 9;
}
.time-part .text {
  font-size: 40px;
  font-family: "Roboto-Bold";
  color: #ffffff;
}
.time-part .text p {
  font-size: 35px;
  font-family: "Roboto";
}
.time-part .text span {
  color: rgba(255, 228, 0, 1);
}
.time-part .min-text {
  font-size: 20px;
  font-family: "Montserrat-Bold";
  margin-right: 10px;
  margin-top: 10px;
  align-self: flex-start;
}
.time-part .square {
  width: 97px;
  height: 94px;
  font-size: 78px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/num-bg.png");
  background-size: 100% 100%;
}
.time-part .dot {
  background-image: url("../image/num-dot.png");
  background-size: 100% 100%;
  width: 16px;
  height: 46px;
  margin: 0 15px;
}
.time-part .flex-bet {
  height: 100%;
}
.sp-part-top {
  margin-top: 258px;
}

.price-group {
  font-size: 115px;
  font-family: "Roboto-Bold";
  display: flex;
  align-items: baseline;
  font-size: 70px;
  color: #d10207;
}
.price-group .price1 {
  font-size: 102px;
  color: #d10207;
  margin-right: 10px;
}
.price-group .price2 {
  color: #494949;
  font-size: 44px;
  text-decoration: line-through;
}
.btn-style {
  font-family: "Montserrat-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-style .icon {
  width: 37px;
  margin-left: 26px;
}
.btn-style1 {
  width: 985px;
  height: 138px;
  background: #e70012;
  border-radius: 10px;
  margin: auto;
  font-size: 60px;
  font-family: "Roboto-Bold";
  box-shadow: 0 10px 0 0 RGBA(165, 0, 13, 1);
}

.sp-part1 .area {
  color: #fff;
  position: absolute;
  top: 80px;
  width: 100%;
  text-align: center;
}

.sp-part1 .title {
  font-family: "Roboto-Black";
  font-size: 89px;
  font-style: italic;
  text-shadow: 0px 5px 0px rgba(19, 50, 90, 0.3);
}
.sp-part1 .title span {
  color: rgba(14, 106, 247, 1);
  font-size: 118px;
}
.sp-part1 .btn-style {
  width: 559px;
  height: 127px;
  color: #fff;
  margin: auto;
  font-family: "AkzidenzGroteskBQ-Medium";
  font-size: 45px;
  background: url("../image/img1-btn.png") no-repeat 100% 100%/100%;
  margin-top: 40px;
}
.sp-part2 {
  width: 1080px;
  height: 340px;
  background: #0a3f90;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-size: 30px;
  font-family: Roboto;
}
.sp-part2 img {
  width: 930px;
  display: block;
}

.sp-part2 .row {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  gap: 75px;
  text-align: center;
  padding: 0 55px;
  margin-top: 20px;
}
.sp-part2 .row > p {
  flex: 1;
}

.sp-part3 {
  padding: 60px;
  color: #ffffff;
  font-family: "Roboto-Medium";
  font-size: 36px;
  background: url("../image/bg2.png") no-repeat 100% 100%/100%;
}
.sp-part3 .title {
  font-family: "Roboto-Bold";
  font-size: 57px;
  margin-bottom: 40px;
}
.sp-part3 ul {
  margin-top: 40px;
}
.sp-part3 li {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: "Roboto";
  font-size: 33px;
  margin-bottom: 20px;
}
.sp-part4 {
  padding: 90px 32px 50px 52px;
}
.sp-part4 .title {
  font-family: "AkzidenzGroteskBQ-Bold";
  font-size: 56px;
  color: #061428;
  margin-bottom: 15px;
}
.sp-part4 .row {
  display: flex;
  gap: 42px;
  align-items: flex-end;
}
.sp-part4 .img-group {
  width: 651px;
  height: 395px;
  background: #232526;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sp-part4 .tip {
  position: absolute;
  left: 33px;
  bottom: 30px;
  font-family: "Roboto-Medium";
  color: #fff;
  font-size: 40px;
}

.sp-part4 .tip.t2 {
  left: 358px;
}
.sp-part4 p {
  font-family: "Roboto-Medium";
  font-size: 36px;
  color: #061428;
}
.sp-title {
  font-family: "AkzidenzGroteskBQ-Bold";
  font-size: 76px;
  color: #061428;
  text-align: center;
  margin-bottom: 40px;
}
.sp-part5 {
  margin-top: 90px;
}

.sp-part5 .img-box {
  margin-top: -100px;
  display: flex;
  justify-content: center;
  gap: 26px;
}
.sp-part5 .img-box img {
  width: 477px;
  height: 442px;
  background: #8c8c8c;
  border-radius: 20px;
}
.sp-part5 .area {
  padding: 50px 84px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: #000000;
  font-family: "Roboto-Medium";
  font-size: 33px;
}
.sp-part5 ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sp-part5 li {
  display: flex;
  align-items: center;
  gap: 18px;
}
.sp-part5 li p {
  max-width: 420px;
}
.sp-part5 .imgp {
  width: 260px;
  height: 464px;
  display: block;
}
.sp-part6 .sp-title {
  font-size: 65px;
}
.sp-part6 .box1 {
  height: 232px;
  background: url("../image/bg1.png") no-repeat 100% 100%/100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto-Light";
  font-size: 32px;
  padding-left: 48px;
  padding-right: 60px;
  margin-top: -2px;
}

.sp-part6 .box1 .title {
  font-size: 50px;
  font-family: "Roboto-Medium";
  margin-bottom: 20px;
}
.sp-part6 .btn-style {
  margin-top: 45px;
}
.sp-part7 {
  padding: 80px 54px 100px 42px;
}
.sp-part7 .text-group {
  color: #fff;
  font-size: 33px;
  font-family: Roboto;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 20px;
  text-align: center;
  height: 80px;
  line-height: 80px;
}

.sp-part7 .text-group > p {
  flex: 1;
}
.sp-part7 .sp-title {
  font-size: 70px;
}

.sp-part8 {
  padding: 0px 95px 70px;
  color: #000000;
  font-size: 33px;
  font-family: Roboto;
}

.sp-part8 .sp-title {
  font-size: 70px;
  margin-bottom: 20px;
}
.sp-part8 .row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 35px;
}
.sp-part8 .row2 {
  display: flex;
  align-items: flex-end;
  gap: 60px;
}
.sp-part8 .p-wrap p {
  font-size: 33px;
  text-align: center;
  margin-top: 15px;
}
.sp-part8 .tip {
  position: absolute;
  left: 13px;
  top: 10px;
  font-family: "Roboto-Medium";
  color: #000000;
  font-weight: 500;
  font-size: 38px;
  text-stroke: 5px #ffffff;
  -webkit-text-stroke: 5px #ffffff;
}
.sp-part8 .t2 {
  top: 270px;
}
.sp-part8 .t3 {
  top: 524px;
}
.sp-part8 .tip::after {
  content: attr(data-title);
  position: absolute;
  text-stroke: 0;
  -webkit-text-stroke: 0;
  left: 0;
}
.sp-part9 {
  padding: 0 14px 40px;
  display: flex;
  color: #000000;
  gap: 30px;
}
.sp-part9 > div {
  flex: 1;
  width: 100%;
}

.sp-part9 .title {
  font-size: 34px;
  font-weight: 400;
  font-family: "OpenSans-Semibold";
}
.sp-part9 .row {
  display: flex;
  align-items: center;
  gap: 19px;
  margin-top: 10px;
}
.sp-part9 .stars {
  height: 25px;
}
.sp-part9 p {
  font-size: 30px;
  font-family: Roboto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.sp-sale {
  height: 395px;
  background: url("../image/sale-bg.png") no-repeat 100% 100%/100%;

  font-size: 48px;
  font-family: "AkzidenzGroteskBQ-Medium";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sp-sale .title {
  font-family: "Montserrat-Bold";
  font-size: 60px;
  margin-bottom: 35px;
}
.sp-sale p {
  margin-top: 45px;
}
.product-part {
  padding: 80px 36px 35px 24px;
  background: rgba(230, 233, 242, 1);
  font-family: "Roboto-Medium";
  box-sizing: border-box;
}
.sp-product-box {
  width: 100%;
  height: 480px;
  background: #ffffff;
  box-shadow: 0px 6px 0px 0px #87bdff;
  border-radius: 20px;
  display: flex;
  position: relative;
  margin-bottom: 40px;
}
.sp-product-box .p-img-wrap {
  width: 564px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 84px;
}
.sp-product-box .free {
  width: 135px;
  height: 43px;
  background: #ce1b14;
  border: 3px solid #ffffff;
  box-shadow: 0px 1px 6px 0px #b5120c;
  border-radius: 10px;

  color: #fff;
  font-family: "Roboto-Medium";
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  right: 70px;
  bottom: 40px;
}
.sp-product-box .free.r {
  right: 50px;
}
.sp-product-box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-part .sp-title {
  font-size: 45px;
  font-family: "Roboto-Medium";
  color: #1b1b1b;
  margin-bottom: 0;
}

.product-part .price-group {
  line-height: 1;
  margin: 20px 0 20px;
}
.product-part .price1 {
  font-family: "Roboto-Bold";
  font-size: 50px;
  color: #191919;
  margin-right: 30px;
}

.product-part .price2 {
  font-family: "Roboto-Bold";
  font-size: 40px;
  color: #969696;
}
.product-part .red {
  color: #e10000;
  font-family: "Roboto-Bold";
  font-size: 46px;
}
.product-part .opt-wrap {
  display: flex;
  gap: 20px;
  margin-top: 25px;
}
.product-part .option {
  width: 174px;
  height: 70px;
  border: 3px solid #e2e2e2;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-family: Roboto;
  color: #1d1d1d;
  cursor: pointer;
  box-sizing: border-box;
}
.product-part .option.active {
  background: #1d1d1d;
  color: #fff;
  border-color: #1d1d1d;
}
.product-part .sp-btn-style {
  width: 359px;
  height: 81px;
  background: #2350d0;
  box-shadow: 0px 8px 0px 0px #0e3298;
  border-radius: 10px;
  color: #fff;
  font-size: 32px;
  font-family: "Roboto-Black";
  cursor: pointer;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: skip 4s infinite;
}

@keyframes skip {
  0%,
  10%,
  16%,
  27%,
  100% {
    transform: scale(1);
  }
  5%,
  13%,
  21% {
    transform: scale(0.9);
  }
}
.product-part .sale {
  background: url("../image/brand-bg.png") no-repeat 100% 100%/100%;
  width: 331px;
  height: 93px;
  position: absolute;
  top: -1px;
  left: -12px;
  /* padding-left: 39px; */
  padding-top: 20px;
  line-height: 1;
  box-sizing: border-box;
  text-align: center;
}
.product-part .sale.yellow {
  background-image: url("../image/brand-y.png");
}
.sp-nav5 {
  font-size: 37px;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #fff;
  background: #2a2a2d;
  height: 114px;
}

.remark {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px 0px 60px 70px;

  background: #171719;
  background-size: 100% 100%;
  gap: 32px 0;
  box-sizing: border-box;
}
.icon-text {
  font-size: 37px;
  font-family: "Roboto";
  white-space: nowrap;
  color: #fff;
  text-align: center;
}
.remark .icon {
  width: 45px;
  height: 45px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 19px;
  flex-shrink: 0;
}

.remark .sp-flex-x:nth-child(n) {
  width: 49%;
}
.remark .sp-flex-x:nth-child(2n) {
  width: 43%;
}
.remark .sp-flex-x:nth-child(1) .icon {
  background-image: url("../image/icon1.png");
}
.remark .sp-flex-x:nth-child(2) .icon {
  background-image: url("../image/icon2.png");
}
.remark .sp-flex-x:nth-child(3) .icon {
  background-image: url("../image/icon3.png");
}

.remark .sp-flex-x:nth-child(4) .icon {
  background-image: url("../image/icon4.png");
}
.sp-size {
  width: 955px;
  height: 328px;
  background-image: url("../image/img11.png");
  background-size: 100% 100%;
  margin-left: 58px;
  margin-bottom: 55px;
  font-family: "Roboto-Medium";
  color: #101010;
  font-size: 36px;
  display: flex;
  text-align: center;
  line-height: 82px;
}
.sp-size .col {
  flex: 1;
}
.sp-size .col:last-child p:not(.title) {
  color: #ff001d;
}
.sp-nav2 {
  width: 1080px;
  height: 108px;
  background: #c40808;
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: center;
  font-family: Roboto;
  font-size: 40px;
}
.sp-nav2 img {
  width: 54px;
}
