* {
  margin: 0;
  padding: 0;
}

/*reset*/
html {
  max-width: 1080px;
  margin: 0 auto;
  /* scroll-behavior: smooth; */
}
body {
  font-size: 62.5%;

  margin: 0 auto;
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
img {
  border: none;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}

:focus {
  outline: none;
}
#root {
  color: #fff;
  font-size: 35px;
}

.sp-uppercase {
  text-transform: uppercase;
}

.sp-relative {
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: auto !important;
  text-size-adjust: auto !important;
  -moz-text-size-adjust: auto !important;
}

.sp-img {
  display: block;
  width: 100%;
}
.sp-flex-x {
  display: flex;
}

.flex-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sp-header-top {
  height: 141px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  max-width: 1080px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.sp-header-top .text {
  width: 192px;
  margin-left: 70px;
}
.sp-header-top .btn {
  width: 420px;
  height: 106px;
  margin-left: 232px;
  margin-right: 11px;
  border-radius: 27px;
  font-family: "Montserrat-SemiBold";

  background: linear-gradient(-13deg, #f08838 0%, #e2b977 100%);
  font-size: 38px;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sp-header-top .btn .icon {
  margin-left: 18px;
  width: 18px;
}

.sp-cart {
  width: 108px;
  height: 106px;
  border-radius: 23px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sp-cart .icon {
  width: 100%;
  height: 100%;
}
.sp-cart .num {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #f24a00;
  border-radius: 50%;
  color: #fff;
  position: absolute;

  right: -12px;
  top: -12px;

  font-size: 25px;
  font-family: "Roboto-Bold";
  text-align: center;
  display: none;
}

.time-part {
  width: 1080px;
  height: 118px;
  background: RGBA(49, 49, 49, 1);
  font-family: "Roboto-Bold";
  color: #ffffff;
  padding: 0 50px 0 52px;
  position: fixed;
  top: 141px;
  box-sizing: border-box;
  z-index: 9;
  display: none;
}
.time-part .text {
  font-size: 41px;
  font-family: "Montserrat-Bold";
  color: #efb680;
}

.time-part .min-text {
  font-size: 20px;
  font-family: "Montserrat-Bold";
  margin-right: 10px;
  margin-top: 10px;
  align-self: flex-start;
}
.time-part .square {
  width: 102px;
  height: 98px;
  font-size: 82px;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../image/num-bg.png");
  background-size: 100% 100%;
}
.time-part .dot {
  background-image: url("../image/num-dot.png");
  background-size: 100% 100%;
  width: 16px;
  height: 46px;
  margin: 0 15px;
}
.time-part .flex-bet {
  height: 100%;
}

.nav-top {
  width: 1080px;
  font-family: "Roboto-Bold";
  font-size: 50px;
  color: #ffffff;
  background-color: #fff;
  position: fixed;
  top: 141px;
  z-index: 9;
}
.nav-top .box {
  margin: 0px 24px 17px;
  height: 125px;
  box-sizing: border-box;
  background: #090809;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap: 72px;
}
.nav-top .box > div {
  display: flex;
  align-items: center;
}
.sp-part-top {
  margin-top: 266px;
}

.price-group {
  font-size: 115px;
  font-family: "Roboto-Bold";
  display: flex;
  align-items: baseline;
  font-size: 70px;
  color: #d10207;
}
.price-group .price1 {
  font-size: 102px;
  color: #d10207;
  margin-right: 10px;
}
.price-group .price2 {
  color: #494949;
  font-size: 44px;
  text-decoration: line-through;
}
.btn-style {
  font-family: "Montserrat-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-style .icon {
  width: 23px;
  margin-left: 36px;
}

.btn-style1 {
  font-family: "Roboto-Medium";
  background-color: rgba(255, 27, 27, 1);
}
.sp-part1 .brand {
  position: absolute;
  right: 47px;
  top: 460px;
  width: 348px;
  height: 449px;
}
.sp-part1 .brand .swiper {
  width: 348px;
  height: 449px;
}
.sp-part1 .brand .swiper-slide {
  width: 100%;
  height: 100%;
  font-family: "Montserrat-SemiBold";
  font-size: 104px;
  line-height: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../image/brand1.png") no-repeat 100%/100%;
  box-sizing: border-box;
  padding-top: 120px;
  text-align: center;
}
.sp-part1 .brand .img2 {
  font-size: 77px;
  background: url("../image/brand2.png") no-repeat 100%/100%;
}
.sp-part1 .text {
  max-width: 400px;
  font-family: "Roboto-Bold";
  color: #484848;
  font-size: 75px;
  line-height: 0.95;
  position: absolute;
  top: 115px;
  right: 40px;
  z-index: 1;
  text-align: center;
}
.sp-part1 .text span {
  color: rgba(255, 134, 41, 1);
}
.sp-part1 .area {
  width: 100%;
  height: 172px;
  background: #020100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat-Bold";
  padding: 0 54px 0 60px;
  box-sizing: border-box;
}
.sp-part1 .area > div {
  display: flex;
  /* align-items: flex-end; */
  align-items: center;
  gap: 12px;
}
.sp-part1 .btn-style {
  width: 427px;
  height: 107px;
  font-size: 50px;
  font-family: "Roboto-Bold";
  background: linear-gradient(90deg, #f08737 0%, #e1ba79 100%);
  /* animation: skip 4s infinite; */
}

.sp-part2 {
  width: 100%;
  height: 1043px;
  background: url("../image/img2.jpg") no-repeat 100%/100%;
  margin-top: -2px;
  position: relative;
  color: #ffffff;
  margin-bottom: 20px;
}

.sp-part2 .row {
  position: absolute;
  top: 75px;
  left: 90px;
  display: flex;
  gap: 150px;
  align-items: center;
  line-height: 1.1;
}
.sp-part2 .row .text1 {
  font-family: "Montserrat-Bold";
  max-width: 430px;
  font-size: 50px;
}
.sp-part2 .row .text2 {
  font-family: "Roboto-Bold";
  max-width: 290px;
  font-size: 40px;
}
.sp-part2 .text3 {
  max-width: 870px;
  position: absolute;
  bottom: 100px;
  left: 90px;
  font-size: 28px;
  font-family: Roboto;
  line-height: 1.4;
}
.sp-new {
  background: url("../image/new.png") no-repeat 100%/100%;
  width: 355px;
  height: 169px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Medium";
  font-size: 77px;
  color: #1e1e1e;
}
.sp-part3 {
  color: #1e1e1e;
}
.sp-part3 .area1 {
  position: absolute;
  top: 92px;
  left: 59px;
}
.sp-part3 .sp-title {
  font-family: "Montserrat-Bold";
  font-size: 60px;
  position: absolute;
  top: 310px;
  left: 86px;
  max-width: 560px;
  text-transform: uppercase;
}

.sp-part3 .text {
  font-family: "Roboto-Bold";
  font-size: 40px;
  position: absolute;
  bottom: 91px;
  left: 86px;
  max-width: 420px;
  line-height: 1.5;
}
.sp-nav2 {
  font-family: "Roboto-Bold";
  font-size: 50px;
  width: 1080px;
  height: 138px;
  background: #090809;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-top: 25px;
  margin-bottom: 80px;
}
.sp-part4 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.sp-part4 img {
  position: relative;
  display: block;
}
.sp-part4 .img1 {
  width: 466px;
  height: 1126px;
}
.sp-part4 .img2 {
  width: 600px;
  height: 1285px;
}

.sp-part4 .text {
  font-size: 60px;
  font-family: "Montserrat-Bold";
  color: #010101;
  position: absolute;
  max-width: 500px;
  left: 95px;
  top: 30px;
  z-index: 2;
}
.sp-part4 .area {
  position: absolute;
  right: 30px;
  top: 860px;
  font-size: 70px;
  font-family: "Montserrat-SemiBold";
  text-align: center;
  line-height: 0.9;
}
.sp-part4 .area p {
  font-family: "Roboto-Bold";
  line-height: 1.3;
  font-size: 30px;
  max-width: 160px;
}
.sp-part5 {
  margin: 90px 50px 0 30px;
}
.sp-part5 .title {
  font-family: "Montserrat-Bold";
  font-size: 105px;
  color: #010101;
  margin-left: 15px;
  margin-bottom: 35px;
}

.sp-part5 p {
  font-size: 40px;
  color: #000;
  font-family: "Montserrat-Bold";
  position: absolute;
  top: 543px;
  right: 27px;
  max-width: 190px;
  line-height: 1.1;
}
.sp-part5 .sp-new {
  position: absolute;
  left: 18px;
  top: 489px;
}
.sp-part6 {
  background: url("../image/bg.jpg") no-repeat 100%/100%;
  padding: 0px 25px 0px;
  background-size: 100% 100%;
}
.sp-part6 .title {
  font-family: "Montserrat-Bold";
  font-size: 80px;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 40px;
  padding-top: 70px;
}
.sp-part6 .swiper {
  padding-bottom: 110px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 40px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 13px;
}
.swiper-pagination-bullet {
  width: 32px;
  height: 32px;
  background-color: rgba(121, 121, 121, 1);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

.sp-part6 .box {
  width: 100%;
  height: 100%;
  font-family: "Roboto-Medium";
  color: rgba(51, 51, 51, 1);
  font-size: 28px;
  line-height: 1.1;
  position: relative;
}
.sp-part6 .box1 .title-s {
  position: absolute;
  top: 80px;
  right: 29px;
  font-size: 68px;
}

.sp-part6 .box1 .text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 225px;
  position: absolute;
  right: 35px;
  top: 420px;
  max-width: 377px;
  text-align: center;
}
.sp-part6 .box2 .row1 {
  position: absolute;
  top: 80px;
  right: 45px;
  font-size: 50px;
  max-width: 340px;
  text-align: right;
}
.sp-part6 .box2 .text {
  position: absolute;
  right: 52px;
  top: 610px;
  max-width: 240px;
  font-size: 35px;
  text-align: right;
}
.sp-part6 .box2 .sp-new {
  width: 426px;
  height: 200px;
  position: absolute;
  right: 16px;
  top: 749px;
  font-size: 50px;
}
.sp-part6 .box2 p {
  position: absolute;
  left: 110px;
  top: 640px;
  max-width: 280px;
  font-size: 35px;
  text-align: right;
  color: #fff;
}
.sp-part7 {
  padding: 80px 18px 60px 28px;
  box-sizing: border-box;
  display: block;
  color: #000;
  font-size: 26px;
  font-family: "Roboto-Bold";
  width: 100%;
}
.sp-part7 .area {
  margin-left: 85px;
  font-size: 34px;
  margin-bottom: 50px;
}
.sp-part7 .title {
  font-size: 60px;
  font-family: "Montserrat-Bold";
  max-width: 760px;
  line-height: 1.4;
}
.sp-part7 .sub-title {
  max-width: 520px;
  margin-top: 15px;

  margin-left: 10px;
}
.sp-part7 ul {
  margin-left: 90px;
  margin-top: 60px;
}
.sp-part7 li {
  list-style: disc;
  line-height: 1.4;
  text-indent: 10px;
}
.sp-part7 li::marker {
  font-size: 40px;
  line-height: 0;
}
.sp-nav3 {
  width: 1080px;
  height: 120px;
  font-family: "Roboto-Bold";
  font-size: 50px;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.sp-nav3 img {
  width: 38px;
}
.sp-nav4 {
  width: 1080px;
  height: 150px;
  font-family: "Roboto-Medium";
  font-size: 65px;
  background: #090909;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}
.sp-nav4 img {
  width: 57px;
}
.sp-part8 {
  padding: 50px 46px 50px;
}
.sp-part8 .box1 {
  color: #fff;
  font-family: "Roboto-Bold";
  font-size: 50px;
  text-align: center;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}
.sp-part8 .box1 .p1 {
  max-width: 640px;
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.sp-part8 .box1 .p2 {
  position: absolute;
  max-width: 640px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.sp-part8 .box2 {
  color: #303030;
  font-family: "Roboto-Bold";
  text-align: right;
  position: relative;
  margin-top: 27px;
}
.sp-part8 .box2 .tip {
  position: absolute;
  top: 193px;
  left: 73px;
  font-size: 30px;
}
.sp-part8 .box2 .p1 {
  max-width: 290px;
  position: absolute;
  top: 135px;
  right: 70px;
  font-size: 60px;
  line-height: 1;
}
.sp-part8 .box2 .p2 {
  position: absolute;
  max-width: 230px;
  bottom: 100px;
  right: 72px;
  bottom: 160px;
  font-family: Roboto;
  font-size: 30px;
}
.sp-part9 .area {
  position: absolute;
  right: 148px;
  top: 120px;
  font-size: 70px;
  font-family: "Montserrat-SemiBold";
  z-index: 2;
  text-align: center;
  line-height: 0.9;
  color: #303030;
}
.sp-part9 .area p {
  font-family: "Roboto-Bold";
  line-height: 1.3;
  font-size: 30px;
  max-width: 160px;
  margin-top: 225px;
}
.sp-part10 {
  margin-top: 80px;
}
.sp-part10 .title {
  font-family: "Roboto-Bold";
  text-align: center;
  font-size: 60px;
  margin-bottom: 210px;
  color: #303030;
}
.sp-part10 .black-box {
  background: #292929;
  font-size: 30px;
  color: #fff;
  padding: 0 80px 55px 88px;
}
.sp-part10 .black-box img {
  width: 859px;
  margin-left: 22px;
  margin-top: -162px;
  box-sizing: border-box;
}
.sp-part10 .black-box p {
  max-width: 910px;
  font-family: "Roboto";
  margin-top: 45px;
  text-align: center;
}
.sp-part11 {
  padding: 55px 100px 40px;
}
.sp-part11 .box {
  width: 100%;
  height: 1162px;
  background: #e6e4e7;
  border-radius: 32px;
  text-align: center;
  color: #303030;
  overflow: hidden;
}
.sp-part11 .title {
  font-family: "Roboto-Bold";
  font-size: 60px;
  max-width: 520px;
  margin: auto;
  height: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sp-part11 .img-group {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 30px;
  padding: 0 90px;
  box-sizing: border-box;
}
.sp-part11 .img-wrap {
  width: 100%;
  height: 665px;
}
.sp-part11 .gif {
  transform: rotate(-90deg);
  width: 665px;
  height: 880px;
  margin-top: -110px;
  display: inline-block;
}
.sp-part12 {
  padding: 0px 84px 0px 55px;
}
.sp-part12 .title {
  font-family: "Roboto-Bold";
  text-align: center;
  font-size: 50px;
  color: #363636;
  margin-bottom: 50px;
  max-width: 880px;
  margin: 70px auto;
}
.sp-part13 {
  padding: 70px 55px 70px 48px;
}
.sp-part13 .title {
  font-family: "Roboto-Bold";
  text-align: center;
  font-size: 50px;
  color: #363636;
  margin-bottom: 50px;
  max-width: 880px;
  margin: 0 auto 10px;
}
.sp-part13 .box {
  color: #333333;
  display: flex;
  gap: 95px;
  padding-left: 50px;
}

.sp-part13 .title-s {
  height: 120px;
  font-family: "Roboto-Bold";
  font-size: 30px;
  display: flex;
  align-items: center;
}
.sp-part13 li {
  font-size: 26px;
  font-family: Roboto;
  list-style: disc;
}
.product-part {
  font-family: "Roboto-Medium";
  box-sizing: border-box;
}

.product-part .p-img {
  width: 607px;
  height: 607px;
  display: block;
  margin: 0 auto 70px;
}
.product-part .swiper {
  padding-top: 66px;
  margin-top: -30px;
}
.product-part .p-img2 {
  height: 667px;
  width: 739px;
  margin-top: -60px;
  position: relative;
  z-index: 99;
}
.product-part .row {
  display: flex;
}

.product-part .option-title {
  color: #141414;
  font-family: "Roboto-Medium";
  font-size: 30px;
  width: 160px;
  text-align: center;
  flex-shrink: 0;
  padding-top: 40px;
}

.product-part .opt-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 16px;
}
.product-part .option {
  width: 190px;
  height: 117px;
  border: 4px solid rgba(20, 20, 20, 0.3);
  border-radius: 30px;
  color: #000000;
  font-size: 32px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}
.sp-line {
  width: 979px;
  height: 4px;
  margin: 40px 0 40px auto;
  display: block;
}
.product-part .option.active {
  border: 4px solid #ee4e00;
}
.product-part .option .p {
  width: auto;
  height: 100px;
}
.product-part .option p {
  font-size: 35px;
}
.product-part .option .fs {
  font-size: 32px;
}
.product-part .option .red {
  color: rgba(238, 78, 0, 1);
}
.product-part .opt-group#size {
  gap: 29px 18px;
}
.product-part #size .option {
  width: 397px;
  height: 98px;
  border: 4px solid rgba(20, 20, 20, 0.3);
  border-radius: 30px;
}
.product-part #size .option.active {
  background: #f5f5f5;
  border: 4px solid #ee4e00;
}

.product-part .option .icon {
  height: 77px;
  width: auto;
  margin-right: 58px;
}

.product-part .size-btn {
  font-family: "Roboto-Medium";
  font-size: 39px;
  color: #141414;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.product-part .size-btn img {
  width: 57px;
  margin-right: 16px;
  margin-left: 45px;
}
.product-part .price-group {
  margin-top: 60px;
  margin-bottom: 25px;
  line-height: 1;
  justify-content: center;
}
.product-part .price1 {
  font-family: "Roboto-Medium";
  font-size: 69px;
  color: #1e1e1e;
}
.product-part .price1 span {
  font-size: 98px;
  margin-right: 20px;
}
.product-part .price2 {
  font-family: "Roboto-Medium";
  font-size: 56px;
  color: #999999;
}

.product-part .sp-btn-style {
  width: 916px;
  height: 156px;
  background: #ee4b10;
  border-radius: 41px;
  color: #fff;
  font-size: 68px;
  font-family: "Roboto-Medium";
  cursor: pointer;
  margin: 14px auto 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-part .sp-btn-style .icon {
  margin-left: 31px;
  width: 27px;
}

.product-part .cart-btn {
  width: 916px;
  height: 127px;
  border: 5px solid #ee4b10;
  border-radius: 41px;
  text-align: center;
  box-sizing: border-box;
  font-size: 53px;
  font-family: "Roboto-Medium";
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0px auto;
  color: #ee4b10;
  /* animation: skip 4s infinite; */
}

@keyframes skip {
  0%,
  10%,
  16%,
  27%,
  100% {
    transform: scale(1);
  }
  5%,
  13%,
  21% {
    transform: scale(0.9);
  }
}
.product-part .tip {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: "Roboto-Medium";
  font-size: 37px;
  color: #ee4b10;
  margin-bottom: 40px;
}
.product-part .tip img {
  width: 50px;
}
.addGroup {
  width: 483px;
  height: 90px;
  padding: 10px 50px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  font-family: "Roboto-Boldm";
  border: 4px solid rgba(20, 20, 20, 0.3);
}

.addGroup .reduce,
.addGroup .add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  cursor: pointer;
  flex-shrink: 0;
}

.addGroup input {
  outline: 0;
  border: none;
  text-align: center;
  box-sizing: border-box;
  width: 110px;
  height: 56px;
  color: #232326;
  background: transparent;
  /* vertical-align: middle; */
  padding: 0;
  font-family: "Roboto-Bold";
  font-size: 40px;
  line-height: 40px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.sp-nav5 {
  font-size: 37px;
  font-family: Roboto;
  height: 114px;
  background: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.sp-nav5 img {
  width: 56px;
}
.remark {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0px 50px 88px;

  background: #090909;
  gap: 30px 0;
  box-sizing: border-box;
}
.icon-text {
  font-size: 36px;
  font-family: "Roboto";
  white-space: nowrap;
  color: #fff;
  text-align: center;
}
.remark .icon {
  width: 45px;
  height: 45px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 35px;
  flex-shrink: 0;
}

.remark .sp-flex-x:nth-child(n) {
  width: 49%;
}
.remark .sp-flex-x:nth-child(2n) {
  width: 40%;
}
.remark .sp-flex-x:nth-child(1) .icon {
  background-image: url("../image/icon1.png");
}
.remark .sp-flex-x:nth-child(2) .icon {
  background-image: url("../image/icon2.png");
}
.remark .sp-flex-x:nth-child(3) .icon {
  background-image: url("../image/icon3.png");
}

.remark .sp-flex-x:nth-child(4) .icon {
  background-image: url("../image/icon4.png");
}

.mask {
  width: 1080px;
  min-height: 100vh;
  height: 100%;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000009d;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.pop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.pop .close-btn {
  margin-top: 39px;
  cursor: pointer;
}
@media (min-width: 720px) {
  .pop {
    width: 980px;
  }
}
