@font-face {
  /* 重命名字体名 */
  font-family: "Roboto";
  /* 引入字体 */
  src: url("./Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "Roboto-Bold";
  /* 引入字体 */
  src: url("./Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "Roboto-Medium";
  /* 引入字体 */
  src: url("./Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* 重命名字体名 */
  font-family: "Montserrat-Bold";

  /* 引入字体 */
  src: url("./Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "Montserrat-Medium";
  /* 引入字体 */
  src: url("./Roboto-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "BreveTitle-BlackItalic";
  /* 引入字体 */
  src: url("./breve-title-black-italic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "Montserrat-Light";
  /* 引入字体 */
  src: url("./Montserrat-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  /* 重命名字体名 */
  font-family: "Roboto-BoldItalic";

  /* 引入字体 */
  src: url("./Roboto-BoldItalic.ttf");
  font-weight: 300;
  font-style: normal;
}
