* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
}

/*reset*/
html {
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}
body {
  font-size: 62.5%;
  background-color: #fff;
  color: #333;
  margin: 0 auto;
  line-height: 1.2;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
input,
img {
  border: none;
}
li {
  list-style: none;
}
i,
em {
  font-style: normal;
}

:focus {
  outline: none;
}

.mb10 {
  margin-bottom: 10px;
}

.mt10 {
  margin-top: 10px;
}
.mt30 {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}
.p-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
  text-transform: uppercase;
}

.mb80 {
  margin-bottom: 80px;
}
.mt80 {
  margin-top: 80px;
}
.relative {
  position: relative;
}
.black-bg {
  background-color: #000;
  color: #fff;
}
.limit-width {
  width: calc(100% - 130px);
  margin-left: auto;
  margin-right: auto;
}
html,
body {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: auto !important;
  text-size-adjust: auto !important;
  -moz-text-size-adjust: auto !important;
}

body {
  background: #fff;
  overflow-x: hidden;
}

.font-gray {
  color: #0000007d;
}
.img {
  width: 100%;
}
.bg {
  background-size: contain;
  background-repeat: no-repeat;
}
.flex-x-end {
  display: flex;
  align-items: flex-end;
}
.flex-x {
  display: flex;
}
.flex-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.half-width {
  width: 50%;
}

.header-top {
  height: 149px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99999;
  max-width: 1080px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.header-top .text {
  width: 221px;
  margin-left: 81px;
}
.header-top .btn {
  width: 406px;
  height: 100px;
  margin-left: 194px;
  margin-right: 7px;
  border-radius: 20px;
  font-family: "Roboto-Bold";
  background-color: #006dc9;
  font-size: 37px;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: big 1.2s ease-in-out infinite;
}
@keyframes big {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 0.9;
  }
}

.cart {
  width: 126px;
  height: 96px;
  border: 4px solid #07020315;
  border-radius: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart .icon {
  width: 58px;
  height: 53px;
}
.cart .num {
  width: 31px;
  height: 31px;
  line-height: 31px;
  background: #c9002f;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 30px;
  font-family: "Roboto";
  text-align: center;
}
.nav {
  width: 100%;
  height: 89px;
  color: #fff;
  font-size: 37px;
  font-family: "Roboto-Bold";
  background-color: #c9002f;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
}
.nav-group {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  height: 100%;
  text-align: center;
  justify-content: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
  letter-spacing: 2px;
}

.nav .icon {
  margin-right: 27px;
  background-image: url("../image/icon5.png");
  background-size: contain;
  width: 56px;
  height: 52px;
}
.nav2 {
  background-color: #ba382e;
  height: 103px;
}
.part {
  font-size: 0;
}

.part-top {
  margin-top: 149px;
}
.swiper-part {
  font-size: 80px;
  color: #010101;
  font-family: "MongolianBaiti";
  text-align: center;
  line-height: 1;
  padding: 27px;
  padding-bottom: 40px;
}
.swiper-part .slide1 .title {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}
.swiper-part .slide2 .title {
  margin-top: 65px;
  margin-bottom: 60px;
  width: 100%;
}
.swiper-part .slide2 .content {
  padding-left: 118px;
  padding-right: 70px;
}
.swiper-part .slide2 .gif {
  width: 499px;
  height: 321px;
}
.swiper-part .slide2 .gif-wrap {
  display: flex;
  flex-direction: column;
  gap: 63px 0;
}
.swiper-part .slide2 .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 705px;
}
.swiper-part .slide2 .text-wrap img {
  width: 90px;
}
.swiper-part .slide2 .text-wrap .text {
  width: 200px;
  font-size: 40px;
  font-family: "Roboto-Medium";
  color: #241b15;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-part .slide2 .bottom-img {
  width: 178px;
  position: absolute;
  left: 44px;
  bottom: -30px;
}
.swiper-part .slide3 .title {
  position: absolute;
  top: 50px;
  left: 30px;
  font-size: 75px;
  color: #fff;
}
.swiper-part .slide3 .gif {
  width: 319px;
  height: 380px;
  position: absolute;
  bottom: 40px;
  right: 42px;
}
.swiper-part .slide4 .title {
  position: absolute;
  top: 650px;
  left: 190px;
  font-size: 133px;
  color: #fff;
}
.swiper-part .slide4 .text {
  font-size: 50px;
  position: absolute;
  bottom: 80px;
  left: 22px;
  color: #e5c0d1;
  line-height: 1.5;
  text-align: left;
}
.swiper-part .slide5 .text {
  font-size: 77px;
  position: absolute;
  top: 728px;
  left: 595px;
  color: #fff;
  line-height: 1;
}
.swiper-part .slide6 .title {
  position: absolute;
  top: 30px;
  left: 36px;
  font-size: 70px;
  color: #fff;
}
.swiper-part .slide6 .gif {
  width: 503px;
  height: 263px;
  position: absolute;
  bottom: 34px;
  left: 36px;
}
.thumbs-wrap {
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

#thumbs .img {
  border: 4px solid transparent;
  box-sizing: border-box;
}
#thumbs .swiper-slide-thumb-active .img {
  border: 4px solid #000;
}

.price-group {
  height: 87px;
  font-size: 115px;
  font-family: "Roboto-Bold";
  display: flex;
  align-items: baseline;
  font-size: 70px;
  color: #d10207;
}
.price-group .price1 {
  font-size: 102px;
  color: #d10207;
  margin-right: 10px;
}
.price-group .price2 {
  color: #494949;
  font-size: 44px;
  text-decoration: line-through;
}
.swiper-info .black-btn {
  width: 435px;
  height: 118px;
  background: #2e2e2e;
  border-radius: 44px 44px 44px 44px;
  font-size: 40px;
}
.btn-style {
  font-family: "Montserrat-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-style .icon {
  width: 16px;
  margin-left: 17px;
}
.black-btn {
  width: 540px;
  height: 110px;
  background: #1c1c1c;
  border-radius: 50px;
  font-size: 50px;
  color: #fff;
}
.part1 .title {
  font-family: "Montserrat-Bold";
  font-size: 75px;
  color: #fff;
  line-height: 1;
  position: absolute;
  top: 130px;
  left: 680px;
}

.part1 .text {
  font-size: 32px;
  font-family: "Roboto-Medium";
  color: #fff;
  position: absolute;
  bottom: 76px;
  left: 40px;
  line-height: 1.5;
}

#swiper1 {
  height: 180px;
  background: #ff9a4a;
  padding-left: 50px;
  padding-right: 40px;

  font-family: "Roboto-Medium";
  font-size: 30px;
  color: #ffffff;
}
#swiper1 .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
#swiper1 .icon {
  width: 30px;
  align-self: start;
  margin-right: 10px;
}
.part2 {
  margin-top: 100px;
  margin-bottom: 60px;
}
.part2 .text {
  font-family: "Roboto-Medium";
  font-size: 40px;
  text-align: center;
  color: #0000008c;
  margin: auto;
  white-space: nowrap;
}
.part2 .gif {
  width: 612px;
  display: block;
  margin: 90px 0 90px 184px;
}
.part2 .s-img {
  width: 280px;
  position: absolute;
  right: 75px;
  bottom: -30px;
}

.part2 .img4 {
  width: 554px;
  margin-left: 5px;
  margin-top: 280px;
  margin-bottom: 45px;
}
.part2 .img5 {
  width: 554px;
  position: absolute;
  right: 5px;
  top: 87px;
  z-index: 2;
}
.part3 .text {
  font-family: "MongolianBaiti";
  font-size: 80px;
  color: #944e5f;
  position: absolute;
  left: 170px;
  top: 70px;
  text-align: right;
}
.part4 .slide1 {
  color: #7b1602;
}
.part4 .slide2 {
  color: #d1aa79;
}
.part4 .title {
  font-size: 124px;
  font-family: "MongolianBaiti";
  line-height: 1.15;
  position: absolute;
  top: 190px;
  text-align: center;
  width: 100%;
}
.part4 .sub-title {
  font-size: 48px;
  font-family: "Roboto";
  position: absolute;
  top: 480px;
  width: 100%;
  text-align: center;
}
.part4 .slide2 .title {
  top: 240px;
}
.part4 .slide2 .sub-title {
  top: 510px;
}
.part4 .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.6;
  width: 23px;
  height: 23px;
  margin: 0 7px !important;
}
.part4 .swiper-pagination-bullet-active {
  opacity: 1;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 78px;
}
.part5 {
  margin-top: -10px;
  color: #fff;
}
.part5 .title {
  font-size: 96px;
  font-family: "MongolianBaiti";
  line-height: 1.1;
  position: absolute;
  top: 90px;
  text-align: center;
  width: 100%;
}
.part5 .sub-title {
  font-size: 32px;
  font-family: "Roboto";
  position: absolute;
  top: 315px;
  width: 100%;
  opacity: 0.5;
  text-align: center;
}
.part5 .text {
  font-family: "Roboto";
  color: #fff;
  font-size: 40px;
  position: absolute;
  text-align: center;
  line-height: 1;
}
.part5 .text1 {
  left: 31px;
  top: 535px;
}
.part5 .text2 {
  left: 912px;
  top: 575px;
  font-size: 30px;
  line-height: 1.1;
}
.part5 .text3 {
  position: absolute;
  left: 911px;
  top: 1053px;
}
.part5 .text3 .text {
  font-size: 36px;
  top: 40px;
  left: 15px;
}
.part6 {
  font-family: "Roboto";
  padding: 48px 10px 30px;
  font-size: 21px;
  color: #000000;
}
.part6 .items {
  max-width: 317px;
}
.part6 .text {
  margin-top: 50px;
}
.part6 .text-area {
  position: absolute;
  text-align: right;
  font-family: "Roboto-Bold";
  bottom: 13px;
  right: 19px;
  line-height: 1;
}
.part6 .text1 {
  color: #eb2228;
  font-size: 41px;
}
.part6 .text2 {
  color: #ffaf01;
  font-size: 42px;
}
.part7 {
  font-family: "Roboto-Medium";
}
.part7 .title {
  line-height: 1.1;
  position: absolute;
  top: 210px;
  width: 100%;
  font-size: 80px;
  font-family: "MongolianBaiti";
  color: #ffffff;
  -webkit-text-stroke: 1px #272727;
  text-stroke: 1px #272727;
  white-space: nowrap;
  text-align: center;
}

.part7 .text {
  color: #ffc56a;
  font-family: "Roboto-Medium";
  font-size: 32px;
  position: absolute;
  top: 505px;
  width: 430px;
  text-align: center;
}
.part7 .text1 {
  left: 80px;
}
.part7 .text2 {
  left: 585px;
}
.part7 .text3 {
  top: 1040px;
  left: 80px;
}
.part7 .text4 {
  top: 1040px;
  left: 585px;
}

.product-part {
  padding: 90px 25px 60px;
  font-family: "Roboto-Medium";
  background-color: #292929;
}
.product-part > .flex-x {
  background-color: #fff;
  margin-bottom: 30px;
}
.p-img-wrap {
  width: 440px;
  text-align: center;
  margin-right: 37px;
}
.p-img-wrap .add {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 242px;
  top: 290px;
  background-image: url("../image/p/add.png");
  background-size: 100% 100%;
}
.p2 .p-img-wrap .add {
  left: 300px;
}
.product-part .bulk {
  font-size: 20px;
  font-family: "Roboto";
  color: #33333388;
  position: absolute;
  left: 180px;
  bottom: 10px;
}
.product-part .tip {
  font-size: 24px;
  font-family: "Roboto";
  color: #000;
  position: absolute;
  left: 342px;
  top: 275px;
}
.product-part .p3 .tip {
  left: 322px;
  top: 260px;
}
.product-part .sale-brand {
  width: 174px;
  height: 91px;
  background-image: url("../image/sale-bg.png");
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 100px;
  color: #fff;
  font-size: 35px;
  font-family: "Roboto-Bold";
  line-height: 1;
  text-align: center;
}
.product-part .p-info {
  width: 525px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-part .p-title {
  font-family: "Roboto-Bold";
  font-size: 55px;
  line-height: 1;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.product-part .p2 .p-title {
  font-size: 50px;
  margin-left: -10px;
}
.product-part .p3 .p-title {
  font-size: 45px;
}
.product-part .sub-title {
  font-size: 35px;
  font-family: "Roboto";
  color: #333333;
  opacity: 0.66;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.product-part .prices {
  font-family: "Roboto-Bold";
  font-size: 55px;
  color: #f12b2b;
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 20px;
}
.product-part .gray-opt {
  background: #fff;
  border-radius: 32px;
  font-family: "Roboto";
  border: 4px solid #e1e1e1;
  font-size: 38px;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.product-part .gray-opt.active {
  border: 6px solid #ba382e;
}

.product-part .options1 {
  display: flex;
  gap: 0 7px;
}

.product-part .options1 .option {
  width: 255px;
  height: 86px;
  font-size: 42px;
  cursor: pointer;
}

.product-part .btn1 {
  width: 100%;
  height: 88px;
  border-width: 4px;
  margin-top: 31px;
  font-size: 30px;
}
.product-part .btn2 {
  width: 100%;
  height: 94px;
  background: #ba382e;
  border-radius: 34px;
  margin-top: 21px;
  font-size: 38px;
  font-family: Roboto;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.product-part .btn2 .icon {
  width: 18px;
  height: 27px;
  margin-left: 28px;
}
.product-part .p1 .btn2 {
  margin-top: 7px;
}
.remark {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 32px;
}
.icon-text {
  font-size: 30px;
  font-family: "Roboto-Bold";
  /* white-space: nowrap; */
  color: #fff;
}
.remark .icon {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-right: 20px;
  flex-shrink: 0;
}
.remark .flex-x {
  margin-top: 30px;
}
.remark .flex-x:nth-child(n) {
  width: 54%;
}
.remark .flex-x:nth-child(2n) {
  width: 44%;
}
.remark .flex-x:nth-child(1) .icon {
  background-image: url("../image/icon1.png");
}
.remark .flex-x:nth-child(2) .icon {
  margin-right: 7px;
  background-image: url("../image/icon2.png");
}
.remark .flex-x:nth-child(3) .icon {
  background-image: url("../image/icon3.png");
}
.remark .flex-x:nth-child(5) .icon {
  background-image: url("../image/icon4.png");
}
.remark .flex-x:nth-child(4) .icon {
  margin-right: 7px;

  background-image: url("../image/icon2.png");
}

.footer {
  margin-bottom: 50px;
  color: #1570b7;
  font-family: Roboto-Bold;
  font-size: 80px;
  line-height: 1;
}
.footer .text {
  position: absolute;
  left: 38px;
  top: 180px;
}
.footer .text1 {
  font-size: 94px;
  top: 80px;
}
